.root {
  width: 100%;
}

.heading {
  font-size: var(--fs-15);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;

  & span {
    flex: 1
  }

  & button {
    float: right;
  }
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: var(--sp-1);
  margin: var(--sp-2) 0;
}

.panel {
  margin-bottom: 2px;

  &:before {
    display: none;
  }
}

.panelTitle {
  flex: 1
}

.panelDetails {
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: 250px;
  padding-top: 0
}

.root {
  width: 300px;
  min-height: 100vh;
  margin-left: 10px;
}

.tabs {
  margin-bottom: 15px;
  height: 34px;
  min-height: 34px;
}

.tab {
  color: var(--c-dark-grey);
  font-size: var(--fs-11);
  text-align: center;
  height: 34px;
  min-height: 34px;
  flex: 1;
}

.tabselected {
  font-weight: bold;
  background-color: var(--c-light-grey);
}

.moreBtn {
  margin-top: var(--sp-2);
}

.flipImage {
  transform: scaleX(-1);
}

@media (min-width:960px) {
  .tab {
    min-width: 100px;
  }
}

@media (max-width:959.95px) {
  .root {
    margin-left: 0;
    padding: 0.7em;
  }
}
