<li class="is-dropdown-submenu-parent">
  <a><%= t("buttons.approvals") %></a>
  <ul class="menu is-dropdown-submenu">
    <% if can?(:approve_bia, controller.model_class) %>
      <%= render 'approvals/approve_form_button', instance: @child, approval_type: Approvable::BIA %>
    <% end %>
    <% if can?(:approve_case_plan, controller.model_class) %>
      <%= render 'approvals/approve_form_button', instance: @child, approval_type: Approvable::CASE_PLAN %>
    <% end %>
    <% if can?(:approve_closure, controller.model_class) %>
      <%= render 'approvals/approve_form_button', instance: @child, approval_type: Approvable::CLOSURE %>
    <% end %>
  </ul>
</li>