<div class="row lookup_value">
  <div class="medium-3 columns"></div>
  <div class="medium-9 columns">
    <%= text_field_tag 'lookup[lookup_values][]', lookup_value %>
  </div>
  <div class="medium-3 columns">
    <%= link_to t('lookup.remove'), '', class: "lookup_value_remove grey-button" %>
  </div>
</div>