<% content_for :breadcrumbs do %>
  <%= t "lookup.edit" %>
<% end %>

<div class="page-content-new row">
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'lookups'} %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <%= render :partial => 'lookups/form', :locals => {:editing => true}  %>
    </div>
  </div>
</div>