<% content_for :breadcrumbs do %>
  <%= t('lookup.index') %>
<% end %>
<% content_for :record_sub_nav do %>
  <%= link_to content_tag(:span, t("lookup.create"), class: 'create_user'), new_lookup_path,  class: 'button right' %>
<% end %>
<div class="clearfix"></div>
<div class="page-content-new row" data-equalizer>
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'lookups'} %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <% if @lookups.present? %>
        <%= render :partial => "lookups/list_view_table", :locals => {:lookups => @lookups} %>
      <% end %>
      <div id="modal-dialog" class="hide_element"></div>
  </div>
</div>
