.tabContent {
  padding: 0 1em;
}
.tabFields {
  padding: 0 1em;
  display: flex;
  & button {
    margin-top: 1.2em;
  }
}

.heading {
  color: $(theme.primero.colors.solidBlack);
  fong-weight: bold;
  flex: 1;
}

.tabHeader:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}