.recordFormFilters {
  max-width: 300px;
  width: 100%;
}

@media $(theme.breakpoints.down("sm")) {
  .recordFormFilters {
    text-align: center;
    flex: 0 1;
  }

  .filtersContainer {
    padding: 0 0.6em;
    max-width: 300px;
  }
}
