.existingTableRoot {
  
  & table:first-child {

    & thead {

      & th:first-child {
        display: none;
      }

      & th {
        padding: 0.2em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    & tbody {

      & tr td:first-child {
        display: none;
      }

      & tr td {
        padding: 0.2em;

        & button {
          color: $(theme.primero.colors.blue);
        }
      }

      &.tr.mui-row-selected, &.tr.Mui-selected {
        &:hover {
          background-color: red !important;
        }
      }
    }
  }
}
