.root {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}

.root .notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
  transform: translate(-50%, -90%);

  & h2 {
    font-size: $(theme.typography.pxToRem(33));
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }

  & p {
    font-size: $(theme.typography.pxToRem(16));
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

.notFoundImg {
  width: 20%;
}

.notFound404 {
  position: relative;
  height: 430px;
  & h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $(theme.typography.pxToRem(186));
    font-weight: 200;
    color: $(theme.primero.colors.blue);
  }
}

.homeButton {
  text-align: center;
  padding-top: 1rem;
}

.homeButton button svg {
  padding-right: 5px;
}
