.chip {
  font-weight: bold;
  color: var(--c-black);
  text-transform: uppercase;
  width: 100%;
  padding: var(--sp-1);
  border-radius: 0;

  &.high {
    background-color: var(--c-red);
    color: var(--c-white)
  }

  &.medium {
    background-color: var(--c-red-medium);
  }

  &.low {
    background-color: var(--c-red-low);
  }

  &.noaction {
    border: solid 1px #B4B4B4;
    background-color: var(--c-white);
    color: #b4b4b4;
  }

  &.default {
    background-color: var(--c-blue);
    color: var(--c-white);
    font-size: var(--fs-12);
  }

  &.defaultNoCount {
    background-color: var(--c-light-blue-menu);
    font-size: var(--fs-12);
  }
}
