.root {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.toolbar {
  flex-wrap: wrap;
}

.twoCol {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.noWrap {
  padding: 0
}

.appBar {
  background-color: var(--c-white);
}

.appBarBorder {
  border-bottom: 1px solid var(--c-warm-grey-1);
}

.toolbarMobile {
  padding: .8em 1em 0;
}

.titleContainer {
  flex: 1;
  margin: var(--sp-1) 0
}

.break {
  flex-basis: 100%;
  height: 0;
}

.title {
  font-size: var(--fs-20);
  color: var(--c-solid-black);
  font-weight: bold;
  flex: 1;
  flex-direction: column;
}

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

.content {
  padding: var(--sp-2);
  position: relative;
}

.contentFlex {
  display: flex;
}

.actions {
  gap: var(--sp-1);
  display: flex;
  align-items: center;
}

@media (max-width:959.95px) {
  .root, .twoCol {
    padding-top: 4em;
  }

  .appBar {
    padding-bottom: var(--sp-1);
  }
}

