.root {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.twoCol {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap {
  padding: 1.563em 2em 4em 2em;
  display: flex;
  flex-direction: column;
}

.noWrap {
  padding: 0
}

.appBar {
  background-color: var(--c-content-grey);
}

.appBarWhite {
  background-color: var(--c-white);
}

.toolbar {
  padding: 0;
}

.toolbarMobile {
  padding: .8em 1em 0;
}

.heading {
  font-size: var(--fs-22);
  color: var(--c-solid-black);
  text-transform: uppercase;
  fong-weight: bold;
  flex: 1;
}

.content {
  padding-top: 3.5em;
  position: relative;
}

@media (max-width:959.95px) {
  .root, .twoCol {
    padding-top: 4em;
  }
}
