:root {
  --light-grey: #f0f0f0;
  --white: #ffffff;
  --black: #231f20;
  --dark-grey: #595952;
  --blue: #0093ba;
  --yellow: #f2c317;
  --red: #d0021b;
  --green: #839e3c;
  --orange: #e7712d;
  --purple: #7c347b;
  --warm-grey-1: #e0dfd7;
  --warm-grey-2: #bcbcad;
  --mid-grey: #757472;
}
