.gbv {
  background-color: $(theme.primero.colors.purple);
}

.mrm {
  background-color: $(theme.primero.colors.blue);
}

.cpims {
  background-color: $(theme.primero.colors.orange);
}

.cp {
  background-color: $(theme.primero.colors.blue);
}

.primeroBackground {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.authContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth {
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: $(theme.primero.colors.white);
  display: flex;
  width: 56em;
}

.formContainer {
  flex: 1 1 50%;

  & h1 {
    margin: 0;
  }
}

.form {
  padding: 3em;
}

.loginHeader div {
  margin: 0.75em 1em 1.55em 0;

  & img {
    width: 118px;
    margin-left: 8px;
  }
}

.loginLogo {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02)
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(240, 240, 240, 0.5));
  box-shadow: inset 5px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0px 15px 15px 0px;
}

.loginLogo > div {
  height: 100%;
  justify-content: center;
  margin-bottom: 0;
}

.footer {
  font-size: $(theme.typography.pxToRem(12));
  flex-shrink: 0;
}

.footer button,
.footer a {
  font-size: $(theme.typography.pxToRem(14));
  color: $(theme.primero.colors.white);
}

.footer button,
.footer button > span > svg {
  color: $(theme.primero.colors.white);
}

.footer:last-child {
  padding-right: 15px;
}

.footer .navLink {
  color: $(theme.primero.colors.white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  padding: 1.3em 0.75em 0 0;
}

.footer .navLink span {
  padding-left: 10px;
}

@media $(theme.breakpoints.down('xs')) {
  .loginLogo {
    display: none;
  }

  .auth {
    width: 90%;
  }
}

@media $(theme.breakpoints.only('sm')) {
  .auth {
    width: 90%;
  }
}
