.root {
  width: 300px;
  min-height: 100vh;
  margin-left: 10px;
}

.tabs {
  margin-bottom: 15px;
  height: 34px;
  min-height: 34px;
}

.tab {
  color: $(theme.primero.colors.darkGrey);
  font-size: $(theme.typography.pxToRem(11));
  text-align: center;
  height: 34px;
  min-height: 34px;
}
.tabselected {
  font-weight: bold;
  background-color: $(theme.primero.colors.lightGrey);
}

@media $(theme.breakpoints.up("md")) {
  .tab {
    min-width: 100px;
  }
}

@media $(theme.breakpoints.down("sm")) {
  .root {
    margin-left: 0;
    padding: 0.7em;
  }
}
