
.container {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.indexContainer {
  display: flex
}

.forms {
  flex: 1;
  margin-right: 1.5em;
}

.filters {
  min-width: 25%;
}

.draggingFormSections {
  & div {
    width: 100%;
  }
}

.summaryPanel {
  margin-bottom: .2em;
}

.row {
  border-bottom: 1px solid $(theme.primero.colors.lightGrey);
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  & div:not(:first-of-type) {
    flex: 1;
  }

  & div:first-of-type {
    width: 3em;
    justify-content: center;
    border-right: 1px solid $(theme.primero.colors.lightGrey);
  }

  & div {
    padding: .5em;
    display: flex;
    align-items: center;

    &.protected {
      padding: .5em 1em .5em 0;
    }

  }
}

.header {
  font-weight: bold;
  text-tranform: uppercase;

  & div:first-of-type {
    border-right: none;
  }
}

.panel {
  border-radius: 0;
}

.summary {
  padding: 0 .5em;
}

.summaryContent {
  align-items: end;
  font-weight: bold;

  & span {
    margin-right: .6em;
  }
}

.details {
  padding: 0;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.toggleButton {
  color: $(theme.primero.colors.blue);
  border: 1px solid $(theme.primero.colors.blue);
  flex: 1;
  font-size: .7rem;
  line-height: 1rem;

  &:first-child {
    border-radius: 0.25em 0 0 0.25em;
  }

  &:last-child {
    border-radius: 0 0.25em 0.25em 0;
  }
}

.toggleButtonSelected {
  color: #fff !important;
  background-color: #0093ba !important;
}

.clearBtn {
  margin-bottom: 1em;
}

.formName a {
  color: $(theme.primero.colors.blue);
  text-decoration: none;
}

.rotateIcon {
  color: $(theme.primero.colors.warmGrey3);
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}
