.loginSelection,
.logoutSelection {
  padding: 0 0 1.5em 0;

  & button {
    padding: .5em 1.75em;
    background-color: $(theme.primero.colors.blue);
    color: $(theme.primero.colors.white);
    margin-top: 20px;
    text-transform: capitalize;

    & span {
      justify-content: left;
    }

    &.logout {
      color: #595952;
      background-color: #f0f0f0;
      border: none;
    }

    &:hover {
      background-color: #0093bac7;

      &.logout {
        background-color: rgb(186, 186, 186);
      }
    }
  }
}

.linkButtonContainer {

  & span {
    padding-right: 3px;
    text-transform: capitalize;
  }

  & a:hover {
    cursor: pointer;
  }
}

.selectProvider {
  margin: 0;
}

.logoutSelection {
  display: none;
}

@media $(theme.breakpoints.down('xs')) {
  .loginSelection,
  .logoutSelection {
    & button {
      width: 100%;
    }
  }
}
