
.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.root > div {
  width: 100%;
}

.formControl {
  margin: 0 1em;
  min-width: 250px;
  max-width: 250px;
  padding: 5px 5px !important;
}

.inputSelect > div > div {
  padding: 10px 26px 10px 12px;
  border: 1px solid #ced4da;
}
