# stuff to ignore
*.deb
*.iml
*.irb-history
*.msi
*.orig
*.pem
*.pid
*.swo
*.swp
*.xls
*swp
*~
.DS_Store
.autotest
.buildpath
.bundle
.git
.idea
.powrc
.project
.project
.redcar
.ruby-version
.rvmrc
.vagrant
.~*
Guardfile
node_modules
capybara_features
cookbook
coverage
debug.html
doc/
jmeter/
log
public/assets
rerun.txt
rspec
spec
tags
tags.lock
tmp
vendor/bundle/
vendor/cache/
vendor/ruby/
venv/
