*.deb
*.iml
*.irb-history
*.msi
*.orig
*.pem
*.pid
*.swo
*.swp
*.xls
*.xlsx
*swp
*~
.DS_Store
.autotest
.buildpath
.bundle
.idea/*
.powrc
.project
.redcar/*
.ruby-gemset
.ruby-version
.rvmrc
.vagrant
.vscode
.~*
/node_modules
/public/worker.js
/public/options
/public/packs
/public/packs-test
<Solr_data_dir>
Guardfile
config/backburner.yml
config/database.yml
config/locales.yml
config/mailers.yml
config/sunspot.yml
config/i18n-manifest.txt
cookbook/cookbooks/
cookbook/nodes/
cookbook/private/
coverage/
db/couch/*
debug.html
dev-node.json
docker/production.env
docker/local.env
encrypted_file
jmeter/*.csv
jmeter/*.log
jmeter/*.svg
jmeter/logs/
primero-configuration
public/assets/
rerun.txt
solr/data
solr/default
solr/development
solr/pids
solr/test
npm-debug.log*
npm-error.log*
.tmp
.npm-integrity
.nyc_output
/reports
spec/reports/
tags
tags.lock
tmp/*
vendor/bundle/
vendor/cache/
vendor/ruby/
venv/*
public/translations*
public/javascripts/*
public/manifests/*
public/worker.js
public/precache-manifest*
configuration_translation_export*
/ansible/roles/qi-*
/ansible/ansible_collections
/ansible/inventory/inventory.yml
/ansible/roles/application-primero/files/local.env
/ansible/secrets.yml
