*.deb
*.iml
*.irb-history
*.msi
*.orig
*.pem
*.pid
*.swo
*.swp
*.xls
*swp
*~
.DS_Store
.autotest
.buildpath
.bundle
.idea/*
.powrc
.project
.project
.redcar/*
.ruby-gemset
.ruby-version
.rvmrc
.vagrant
.vscode
.yarn-integrity
.~*
/node_modules
/public/options
/public/packs
/public/packs-test
<Solr_data_dir>
Guardfile
cookbook/cookbooks/
cookbook/nodes/
cookbook/private/
coverage/
db/couch/*
debug.html
dev-node.json
docker/production.env
docker/quoin.env
encrypted_file
jmeter/*.csv
jmeter/*.log
jmeter/*.svg
jmeter/logs/
log/*
primero-configuration
public/assets/
rerun.txt
solr/data
solr/default
solr/development
solr/pids
solr/test
spec/reports/
storage/
tags
tags.lock
tmp/*
vendor/bundle/
vendor/cache/
vendor/ruby/
venv/*
yarn-debug.log*
