# Copyright (c) 2014 - 2023 UNICEF. All rights reserved.

definitions:
  steps:
    - step: &server-test
        name: Server tests
        image: ruby:3.3.8-bookworm
        script:
          - ./bin/install_local_test_solr.sh
          - ./bin/run_server_tests.sh
        services:
          - postgres
        caches:
          - bundler
    - step: &client-test
        name: Client tests
        image: node:22.13.1
        size: 2x
        script:
          - npm config set legacy-peer-deps true
          - npm ci
          - npm run lint:run
          - npm run test -- --maxWorkers=2
        caches:
          - node
    - step: &push-branch
        image: atlassian/default-image:4
        clone:
          depth: full
        script:
          - git push https://$azdotoken@unicef.visualstudio.com/ICTD%20-%20Primero%20X%20DEV/_git/primero $BITBUCKET_BRANCH
          - git push https://$primeroimstoken@github.com/primeroIMS/primero.git $BITBUCKET_BRANCH
  services:
    postgres:
      image: postgres:15.6
      variables:
        POSTGRES_DB: 'primero_test'
        POSTGRES_USER: 'postgres'
        POSTGRES_PASSWORD: 'postgrespassword'
  caches:
    bundler: ./vendor
pipelines:
  branches:
    maint_*:
      - step: *push-branch
    '{develop*,release-*,main}':
      - parallel:
        - step: *server-test
        - step: *client-test
      - step: *push-branch
  tags:
    v*:
      - step:
          image: atlassian/default-image:4
          script:
            - git push https://$azdotoken@unicef.visualstudio.com/ICTD%20-%20Primero%20X%20DEV/_git/primero $BITBUCKET_TAG
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git $BITBUCKET_TAG

  pull-requests:
    '**':
      - parallel:
        - step: *server-test
        - step: *client-test
