clone:
  depth: full
pipelines:
  branches:
    maint_1.3:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.3 --tags
    maint_1.4:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.4 --tags
    maint_1.5:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.5 --tags
    maint_1.6:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.6 --tags
    maint_1.7:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.7 --tags
    maint_1.8:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git maint_1.8 --tags
    development:
      - step:
          script:
            - git push https://$primeroimstoken@github.com/primeroIMS/primero.git development --tags
