<%
  field_keys ||= []
  name = field_tag_name @child, check_boxes, field_keys
  value ||= field_value @child, check_boxes, field_keys

%>
<div class="row">
  <div class="medium-4 columns">
    <%= label_tag name, t(check_boxes.name, :default => check_boxes.display_name), {:class=>"key"}%>
  </div>

  <div class="medium-8 columns">
    <% check_boxes.options.each do |option| %>
      <%checkbox_id = sanitize_to_id(name)+"_#{option.option_name.dehumanize}"%>
      <%= check_box_tag name+"[]", option.option_name, (value||[]).include?(option.option_name), :id => checkbox_id %>
      <%= label_tag checkbox_id, option.option_name %>
      <br>
    <% end %>
  </div>

  <%= image_tag "new/icon_help.png", title: check_boxes.help_text, class: 'tool-tip-icon vtip' if check_boxes.help_text.present? %>
</div>