<% if current_actions(action: ['update', 'edit', 'show']) %>
  <div class="row">
    <div class="large-12 columns">
      <%= link_to t("buttons.create_incident"), child_create_incident_cp_path(@child), class: "button create_cp_incident" %>
      </a>
    </div>
  </div>
<% end %>