<% if current_actions(action: ['show']) %>
  <%= link_to t("buttons.create_incident"), child_create_incident_cp_path(@child, :params => {:incident_id => incident_id}), class: "button create_cp_incident" %>
  </a>
<% end %>