<% if child && child.has_valid_audio? %>
    <% if child.audio %>
        <hr>
        <div class="audio row">
            <div class="medium-12 columns">
              <span class="profile-section-label"><strong><%= field ? field.display_name : 'Current Audio' %></strong></span>
              <%= link_to "Download", case_audio_url(child), {:id => "audio_link", class: 'right green-button'} %>
              <div class="clearfix"></div>
            <% if is_playable_in_browser(child.audio) %>
                  <audio controls="controls" id="audio_player">
                    <source src="<%= case_audio_url(child) %>"/>
                    Your browser is unable to play this audio file. You can download the file using the link above.
                  </audio>

                  <%= render :partial => "audio_player" %>
            <% end %>
            </div>
        </div>
    <% end %>
<% end %>
