<% if current_actions(action: ['update', 'edit', 'show']) && formObject.incident_links.present? %>
  <div class="row">
    <div class="medium-12 columns">
      <ul class="incident_links">
        <li><%= link_to associated_incident_id, incident_path(associated_incident_id) %></li>
      <ul>
    </div>
  </div>
<% end %>