<% if current_actions(action: ['update', 'edit', 'show']) && formObject.incident_links.present? %>
  <div class="incident_link_label"><%= t('incident.incident_short_id') %></div>
  <div class="incident_link"><%= link_to incident_short_id, incident_path(associated_incident_id) %></div>
<% end %>