<li>
  <%=link_to "Valid Records", "#{cases_path}?scope[record_state]=valid_record", :class => "btn green-button"%>
</li>
<li>
  <%=link_to "Invalid Records", "#{cases_path}?scope[record_state]=invalid_record", :class => "btn green-button"%>
</li>