<div class="row">
  <div class="medium-4 columns">
      <span class="tool-tip-label">
        <%= label_tag select_box.tag_name_attribute, t(select_box.name, :default => select_box.display_name), :class=>'key'  %>
      </span>
  </div>
  <div class="medium-8 columns">
    <%= select_tag select_box.tag_name_attribute, options_for_select(select_box.select_options, select_box_default(@child, select_box.name)) %>
    <%= image_tag "new/icon_help.png", title: select_box.help_text, class: 'tool-tip-icon vtip' if select_box.help_text.present? %>
  </div>
</div>
