<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag text_field.tag_name_attribute, t(text_field.name, :default => text_field.display_name), :class=>'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <%= text_field_tag text_field.tag_name_attribute, @child[text_field.name] %>

    <%= image_tag "new/icon_help.png", title: text_field.help_text, class: 'tool-tip-icon vtip' if text_field.help_text.present? %>
  </div>
</div>

