.loginForm {
  padding: 1em;

  & h1 {
    font-family: SourceSansPro;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: $(theme.primero.colors.black);
  }

  & button {
    width: 130px;
    height: 36px;
    background-color: $(theme.primero.colors.blue);
    color: $(theme.primero.colors.white);
    margin-top: 20px;

    &:hover {
      background-color: #0093bac7;
    }
  }

  & .recoveryLink {
    margin-top: 1.5em;

     & a {
      text-decoration: none;
      color: $(theme.primero.colors.blue);
    }
  }
}

@media $(theme.breakpoints.down('xs')) {
  .loginForm {
    & button {
      width: 100%;
    }
  }
}

