<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Primero, <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to Primero,
      your username is: <%= @user.user_name %>
      your password is: TODO
    </p>
    <p>
      To login to the site, just follow this link: TODO.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
