<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @email_greeting %></h1>
    <p><%= @email_body %></p>
  </body>
</html>
