.secondarySubformHeader {
  font-size: $(theme.typography.pxToRem(11));
  color: $(theme.primero.colors.darkGrey);
}

.subformHeaderBox {
  flex-grow: 1;
}

.subformHeaderActions {
  display: flex;
  padding: 5px;
  align-items: center;

  & .subformShow {
    background-color: inherit;
    color: $(theme.primero.colors.black);
  }
}

.moreActions {
  width: 30px;
  height: 30px;
  min-height: 30px;
}

.subformHeader {
  display: inline-block;
  padding: 0;
  text-align: center;

  & button {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: $(theme.primero.colors.blue);
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.subformHeader span { display:inline }

.subformHeader span:after {
  content: " ";
  letter-spacing: 1em;
  background: radial-gradient(
    $(theme.primero.colors.solidBlack), 10%, transparent 15%
  ) center center no-repeat;
}

.loadingIndicator {
  width: 20px !important;
  height: 20px !important;
  margin: 0 20px;
}

.emptySubformContainer {
  display: flex;
  align-items: center;

  & > svg:first-of-type {
    color: $(theme.primero.colors.yellow);
  }

  & > span {
    padding: 0 10px;

    & strong {
      padding-right: 5px;
    }
  }
}

.subformFieldArrayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subformFields {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgba(125, 125, 125, 0.23);
  border-radius: 4px;
  padding: 0 8px;
  font-family: $(theme.typography.fontFamily);
  font-size: $(theme.typography.pxToRem(12));
  margin-bottom: 2px;
}
