.secondarySubformHeader {
  font-size: var(--fs-12);
  color: var(--c-dark-grey);
}

.subformHeaderBox {
  flex-grow: 1;
}

.subformHeaderActions {
  display: flex;
  padding: 5px;
  align-items: center;

  & .subformShow {
    background-color: inherit;
    color: var(--c-black);
  }
}

.moreActions {
  width: 30px;
  height: 30px;
  min-height: 30px;
}

.subformHeader {
  display: inline-block;
  padding: 0;
  text-align: center;

  & button {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: var(--c-blue);
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.subformHeader span { display:inline }

.subformHeader span:after {
  content: " ";
  letter-spacing: 1em;
  background: radial-gradient(
    var(--c-solid-black), 10%, transparent 15%
  ) center center no-repeat;
}

.loadingIndicator {
  width: 20px !important;
  height: 20px !important;
  margin: 0 20px;
}

.emptySubformContainer {
  display: flex;
  align-items: center;
  margin: var(--sp-3) 0;

  & > svg:first-of-type {
    color: var(--c-yellow);
  }

  & > span {
    padding: 0 10px;

    & strong {
      padding-right: 5px;
    }
  }
}

.subformFieldArrayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--sp-2) 0;
}

.subformFields {
  display: flex;
  align-items: center;
  padding: 0 var(--sp-2);
  font-size: var(--fs-12);
  border: 1px solid var(--c-warm-grey-1);
}

.fieldArray .subformFields ~ .subformFields {
  border-top: none;
}

.subformTitle {
  margin: 0;
}

.subformGuidance {
  margin-bottom:  8px;
}

.subFormField {
  margin: 0 0 var(--sp-4);
}
