.actionButton, .actionButtonCancel {
  box-shadow: none;
  color: $(theme.primero.colors.white);
  background: $(theme.primero.colors.blue);
  min-width: 8em;
  height: 32px;

  &:hover {
    color: $(theme.primero.colors.black);
  }

  & svg {
    margin-left: -10px;
  }
}

.actionButtonCancel {
  background: $(theme.primero.colors.grey);
  margin: 0 .5em;
}

.loadingMargin {
  position: absolute;
}

.row {
  display: flex;

  & > div {
    flex: 1;
    padding: 0 1em;
  }

  & > div:last-of-type {
    padding: 0 0 0 1em;
  }

  & > div:first-of-type {
    padding: 0 1em 0 0;
  }
}

.row {
  &.notEqual {
    & > div {
      flex: none;
    }
  }
}

.actionButtonText {
  margin: 0 0.5em;
}

.heading {
  font-size: $(theme.typography.pxToRem(15));
  font-weight: $(theme.typography.fontWeightBold);

  &.error {
    color: red;
  }
}

.panelContent {
  display: block;
}
