.root {
  display: flex;
  overflow: hidden;
  background: var(--c-content-grey);
}

.content {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  background: var(--c-content-grey);
  transition: var(--transition);
  margin-left: -240px;
  overflow-x: hidden;
  padding-top: 0;
  margin-left: 0;
  width: 100%;
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  flex: 1;
  position: fixed;
  height: 80%;
  align-items: center;
  left: 45%;
  top: 10%;
}
