<!-- BEGIN: item -->
  <tr class="tracing_request_summary_panel table_row<% if tracing_request.flag? %> red_text<% end %>">
    <div class="summary_panel">
      <td id="tracing_request_<%= tracing_request.id %>" class="id_column">
        <div class="summary_item">
          <%= link_to text_to_identify_tracing_request(tracing_request), tracing_request_path(tracing_request), class: 'id_link' %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= tracing_request.enquirer_name %>
        </div>
      </td>
      <td>
        <div class="summary_item">
          <%= tracing_request.enquirer_date %>
        </div>
      </td>
    </div>
  </tr>
<!-- END: item -->