.standardInfo {
  background-color: $(theme.primero.colors.solidBlack);
  border-radius: 0;
  padding: 0;
  text-align: center;
}

.standardInfoText {
  color: $(theme.primero.colors.white);
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}