.standardInfo {
  background-color: $(theme.primero.colors.solidBlack);
  border-radius: 0;
  padding: 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;

}

.standardInfoText {
  color: $(theme.primero.colors.white);
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
