.root {

  & > div {
    padding: 1em;
  }
}

.link {
  display: flex;
  align-items: center;

  & > span {
    margin-left: 5px;
  }
}

.loading {
  width: 15px !important;
  height: 15px !important;
}
