.loginForm {
  padding: 1em 0;

  & h1 {
    font-family: SourceSansPro;
    font-size: $(theme.typography.pxToRem(30));
    font-weight: bold;
    text-transform: uppercase;
    color: $(theme.primero.colors.black);
  }

  & button {
    padding: .5em 1.75em;
    background-color: $(theme.primero.colors.blue);
    color: $(theme.primero.colors.white);
    margin-top: 20px;

    &:hover {
      background-color: #0093bac7;
    }
  }

  & .recoveryLink {
    margin-top: 1.5em;

     & a {
      text-decoration: none;
      color: $(theme.primero.colors.blue);
    }
  }
}

@media $(theme.breakpoints.down('xs')) {
  .loginForm {
    & button {
      width: 100%;
    }
  }
}
