.root {
  flex-grow: 1;
  margin-top: 5px;
}

.input {
  display: flex;
  padding: 0;
  height: auto;
}

.valueContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  overflow: hidden;
  padding: 8px 5px;
}

.chip {
  margin: 3px;
  font-size: $(theme.typography.pxToRem(11));
  height: auto;
}

.chipLabel {
  white-space: normal;
}

.chipFocused {
  box-shadow: none;
  background-color: rgb(197, 197, 197) !important;
  border-color: rgb(197, 197, 197);
}

.noOptionsMessage {
  padding: 8px 16px;
}

.singleValue {
  font-size: $(theme.typography.pxToRem(13));
  max-width: calc(80% - 8px);
  position: absolute;
  margin-left: 2px;
  margin-right: 2px;
}

.placeholder {
  position: absolute;
  left: 2;
  font-size: $(theme.typography.pxToRem(12));
  padding-left: 3px;
}

.paper {
  z-index: 1;
  margin-top: 8px;
  left: 0;
  right: 0;
  overflow: auto;
}

.divider {
  height: 16px;
}

.option {
  font-size: $(theme.typography.pxToRem(13));
  white-space: normal;
}

.optionSelected {
  color: $(theme.primero.colors.white);
  background-color: $(theme.primero.colors.blue);
}
