.checkboxContainer {
  margin-top: 1em;

  & label {
    font-size: .75rem;
    color: $(theme.primero.colors.black);
  }
}

.attachment {
  display: flex;
  align-items: center;
  padding: 10px;
}

.inputField,
.attachmentInputField {
  display: none;
}

.preview {
  height: 100px;
}

.buttonWrapper {
  position: relative;
}

.buttonProgress {
  position: absolute;
  margin-top: -12;
  margin-left: -12;
}
