.checkboxContainer {
  margin-top: 1em;

  & label {
    font-size: .75rem;
    color: $(theme.primero.colors.black);
  }
}

.attachment {
  align-items: center;
  padding: 10px 0;
}

.inputField,
.attachmentInputField {
  display: none;
}

.preview {
  height: 100px;
}

.buttonWrapper {
  position: relative;
}

.buttonProgress {
  position: absolute;
  margin-top: -12;
  margin-left: -12;
}

.hint {
  display: block;
  margin-top: 0.5em;
  color:  $(theme.primero.colors.warmGrey4);
  font-weight: bold;
}

.rowDirection {
  flex-direction: row;
}
