<tr>
  <td><%= I18n.l(record.timestamp, format: :with_time) %></td>
  <td><%= record.user_name %></td>
  <td><%= I18n.t("logger.#{record.action_name}") %></td>
  <td><%= audit_log_description(record) %></td>
</tr>