.reorderActions {
  padding: 0;
}

.actionButtonCancel {
  background: $(theme.primero.colors.grey);
  color: $(theme.primero.colors.white);
  margin: 0 .5em;

  &:hover {
    color: $(theme.primero.colors.black);
  }
}

.dialog {
  top: auto !important;
  left: auto !important;
}