<span class="export"> <%= link_to t("incident.export"), "#", class: "green-button" %> </span>
<div class="dropdown hide">
    <% Exporters::ACTIVE_EXPORTERS.each do |exporter| %>
        <% if can?("export_#{exporter.id}".to_sym, Incident) %>
            <%= link_to t("addons.export_task.#{exporter.id}.one"), incident_path(@incident, :format => exporter.id, :per_page => :all), :class => "password-prompt" %>
        <% end %>
    <% end %>
</div>
