<% if can? :flag, incident %>
    <li>
        <div class="dropdown_btn dropdown_form">
            <%= render 'record_shared/suspect_flag', record: @incident %>
        </div>
    </li>
<% end %>
<% unless ["edit", "update"].include? controller.action_name %>
<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '#', class: 'btn button hollow action_btn' %>
    <ul>
        <%= render partial: 'exports/button', locals: {model: Incident, instance: @incident} %>
        <% if can? :edit, @incident %>
            <%= render partial: 'record_shared/enable_disable_record', locals: {model: Incident, instance: @incident} %>
        <% end %>
    </ul>
  </li>
</ul>
<% end %>