<%
  compact_flag = true
  violations = incident.violations_list(compact_flag, false, lookups: @lookups)
%>
<% if violations.present? %>
  <ul>
    <% violations.each do |violation| %>
      <li><%= violation %></li>
    <% end %>
  </ul>
<% end %>
