<div class="row">
  <div class="large-12 columns">
    <h2 class="float_left no_border">
        <%= link_to t("incidents.label"), incidents_path %> &gt; <%= @incident.short_id %>
    </h2>
    <%= "Short ID:  #{@incident.short_id}" %> 
  </div>
</div>
