.seeAll {
  padding: .7em;
  font-size: $(theme.typography.pxToRem(13));
  color: $(theme.primero.colors.blue);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
}
