.existingFieldButton, .cancelButton {
  border-radius: 50px;
  box-shadow: none;
  color: var(--c-white);
  background: var(--c-blue);
  margin-bottom: 0.6em;

  &:hover {
    color: var(--c-black);
  }

  & svg {
    position: absolute;
    left: 0.6em;
    top: 8px
  }
}

.cancelButton {

  background: var(--c-grey);
}