.empty {
  text-align: center;
  font-size: var(--fs-96);
  color: var(--c-warm-grey-1);
  line-height: 0;
  margin: 0.5em 0;

  & h3 {
    font-size: var(--fs-13);
    text-transform: uppercase;
  }
}

.resolvedFlagList {
  margin-top: 30px;
}

.activedFlagList {
  margin-top: 10px;
}

.item {
  padding: 0;
  font-size: var(--fs-30);
}

.itemResolved {
  padding: 0;
  font-size: var(--fs-16);
  color: var(--c-warm-grey-6);
}

.itemText {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flagInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 0px 5px 0px;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  & div:first-of-type, & div:last-of-type {
    margin-top: 10px;
  }
}

.rotateIcon {
  transform: scaleX(-1);
}

.verticalDivider {
  min-height: 105%;
}

.date {
  font-size: var(--fs-16);
  & div:first-of-type {
    font-size: var(--fs-16);
    font-weight: normal;
    color: var(--c-black);
    margin-top: 0;
  }
  & fieldset {
    border: none;
  }

  & label {
    display: none;
  }

  & input {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.resolveButton {
  padding-right: 0;
  min-width: 127px;
  & button {
    & span {
      font-size: var(--fs-16);
    }
  }
}

.flagTab {
  min-width: 50%;
}

.flagRemovedInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end
}

.elementContent, .flagUser {
  font-size: var(--fs-16);
  display: flex;
  & span {
    text-align: justify;
    margin: 0px 20px 0px 5px;
  }
}

.resolvedReason, .flagUser {
  font-style: italic;
  font-size: var(--fs-13);
}

.actionDivider {
  padding: 0px 20px 0 20px;
}

.saveButton, .cancelButton{
  border-radius: 50px;
  box-shadow: none;
  color: var(--c-white);
  background: var(--c-blue);
  width: 8em;
  height: 32px;
  margin-left: 10px;

  &:hover {
    color: var(--c-black);
  }

}

.cancelButton {
  background: var(--c-grey);
}

.loadingIndicator {
  position: absolute;
}

.containerTabs {
  position: sticky;
  top: 0;
}

.containerTabsBody {
  overflow: auto;
  max-height: 50vh;;
}
