.empty {
  text-align: center;
  font-size: 7em;
  color: $(theme.primero.colors.warmGrey1);
  line-height: 0;
  margin: 0.5em 0;

  & h3 {
    font-size: $(theme.typography.pxToRem(14));
    text-transform: uppercase;
  }
}

.resolvedFlagList {
  margin-top: 30px;
}

.activedFlagList {
  margin-top: 10px;
}

.item {
  padding: 0;
  font-size: 2.95em;
}

.itemResolved {
  padding: 0;
  font-size: 0.95em;
  color: $(theme.primero.colors.warmGrey6);
}

.itemText {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flagInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 0px 5px 0px;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  & div:first-of-type, & div:last-of-type {
    margin-top: 10px;
  }
}

.rotateIcon {
  transform: scaleX(-1);
}

.verticalDivider {
  min-height: 105%;
}

.date {
  font-size: 0.95em;
}

.resolveButton {
  padding-right: 0;
  min-width: 127px;
  & button {
    & span {
      font-size: 0.95em;
    }
  }
}

.flagTab {
  min-width: 50%;
}

.flagRemovedInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end
}

.elementContent, .flagUser {
  font-size: 0.95em;
  display: flex;
  & span {
    text-align: justify;
    margin: 0px 20px 0px 5px;
  }
}

.resolvedReason, .flagUser {
  font-style: italic;
  font-size: 0.85em;
}

.actionDivider {
  padding: 0px 20px 0 20px;
}

.saveButton, .cancelButton{
  border-radius: 50px;
  box-shadow: none;
  color: $(theme.primero.colors.white);
  background: $(theme.primero.colors.blue);
  width: 8em;
  height: 32px;
  margin-left: 10px;

  &:hover {
    color: $(theme.primero.colors.black);
  }

}

.cancelButton {
  background: $(theme.primero.colors.grey);
}

.loadingIndicator {
  position: absolute;
}

.containerTabs {
  position: sticky;
  top: 0;
}

.containerTabsBody {
  overflow: auto;
  max-height: 50vh;;
}
