<% content_for :breadcrumbs do %>
  <%= t("user_groups.label") %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <%#= render 'exports/button' %>
  <%# TODO: Hiding imports so that QA doesn't get into trouble %>
  <%#= render 'imports/button' %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'user_groups'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <%= render({ partial: 'record_shared/list_view_table',
                 locals: {
                   model: UserGroup,
                   record: 'user_group',
                   collection: @user_groups,
                   opts: {
                     display_actions: false,
                     display_filter: false,
                     display_saved_search: false,
                     display_create: true,
                     is_side_tab: true
                   }
                 }
               })
    %>
  </div>
</div>
