.imgControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-2);
  padding: var(--sp-1);
  border-bottom: 1px solid var(--c-warm-grey-1);
  width: 100%;
}

.imgViewerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.imgViewer {
  border: 1px solid var(--color-gray-300);
  border-radius: var(--border-radius-lg);
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.downloadBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-1);
  height: 100%;
}

.zoomistContainer {
  width: 100%;
  overflow: hidden;
}

.zoomistImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.zoomistImageWrapper {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.zoomistImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.zoomistWrapper {
  overflow: hidden;
  height: 100%
}