<header>

  <div class="inner">
  <a id="big-logo" class="logo icon-logo" href="{{site.baseurl}}/" title="Primero"></a>
    <h2>Primero. An information management platform for humanitarian case management and incident monitoring</h2>
    <a href="https://github.com/primeroIMS/primero" class="button"><small>View project on</small> GitHub</a>

    <ul id="navbar">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/features/">Features</a></li>
      <li><a href="{{site.baseurl}}/try/">Try</a></li>
      <li><a href="{{site.baseurl}}/contribute/">Contribute</a></li>
      <li><a href="{{site.baseurl}}/docs/">Docs</a></li>
      <li><a href="{{site.baseurl}}/discuss/">Discuss</a></li>
      
    </ul>
  </div>
</header>

