PRIMERO_HOST=gbvims-lby.dev.jozian.com
PRIMERO_SECRET_KEY_BASE={{ primero_secret_key_base }}
PRIMERO_MESSAGE_SECRET={{ primero_message_secret }}
POSTGRES_PASSWORD={{ postgres_password }}
DEVISE_SECRET_KEY={{ devise_secret_key }}
DEVISE_JWT_SECRET_KEY={{ devise_jwt_secret_key }}
LOCALE_ALL=en,fr,ar
LOCALE_DEFAULT=en
NGINX_CERTIFICATE_NAME=primero
NGINX_SSL_CERT_PATH=/external-certs/primero.crt
NGINX_SSL_KEY_PATH=/external-certs/primero.key
USE_LETS_ENCRYPT=true
USE_EXTERNAL_CERTS=true
{% if lets_encrypt_domain is defined %}
LETS_ENCRYPT_DOMAIN={{ lets_encrypt_domain }}
{% endif %}
{% if lets_encrypt_email is defined %}
LETS_ENCRYPT_EMAIL={{ lets_encrypt_email }}
{% endif %}
{% if environment_variables is defined %}
{% for variable in environment_variables  %}
{{ variable }}={{ environment_variables[variable] }}
{% endfor %}
{% endif %}
{% if secret_environment_variables is defined %}
{% for variable in secret_environment_variables  %}
{{ variable }}={{ secret_environment_variables[variable] }}
{% endfor %}
{% endif %}