PRIMERO_HOST={{ primero_host }}
PRIMERO_SECRET_KEY_BASE={{ primero_secret_key_base }}
PRIMERO_MESSAGE_SECRET={{ primero_message_secret }}
POSTGRES_PASSWORD={{ postgres_password }}
DEVISE_SECRET_KEY={{ devise_secret_key }}
DEVISE_JWT_SECRET_KEY={{ devise_jwt_secret_key }}
LOCALE_ALL={{ locale_all }}
LOCALE_DEFAULT=en
NGINX_CERTIFICATE_NAME=primero
NGINX_SSL_CERT_PATH={{ nginx_ssl_cert_path }}
NGINX_SSL_KEY_PATH={{ nginx_ssl_key_path }}
USE_LETS_ENCRYPT={{ use_lets_encrypt }}
{% if lets_encrypt_domain is defined %}
LETS_ENCRYPT_DOMAIN={{ lets_encrypt_domain }}
{% endif %}
{% if lets_encrypt_email is defined %}
LETS_ENCRYPT_EMAIL={{ lets_encrypt_email }}
{% endif %}
{% if environment_variables is defined %}
{% for variable in environment_variables  %}
{{ variable }}={{ environment_variables[variable] }}
{% endfor %}
{% endif %}
{% if secret_environment_variables is defined %}
{% for variable in secret_environment_variables  %}
{{ variable }}={{ secret_environment_variables[variable] }}
{% endfor %}
{% endif %}
