# SMTP overrides
#SMTP_ADDRESS=
#SMTP_PORT=
#SMTP_DOMAIN=
#SMTP_AUTH=
#SMTP_STARTTLS_AUTO=

# Posgresql database overrides
#POSTGRES_DATABASE=
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_HOSTNAME=
#POSTGRES_SSL_MODE=
#POSTGRES_POOL_NUM=

# Local storage overrides
#PRIMERO_STORAGE_PATH=

# Azure storage overrides 
#PRIMERO_STORAGE_AZ_ACCOUNT=
#PRIMERO_STORAGE_AZ_KEY=
#PRIMERO_STORAGE_AZ_CONTAINER=

# AWS storage overrides 
#PRIMERO_STORAGE_AWS_ACCESS_KEY=
#PRIMERO_STORAGE_AWS_SECRET_ACCESS_KEY=
#PRIMERO_STORAGE_AWS_REGION=
#PRIMERO_STORAGE_AWS_BUCKET=
