<div class="panel">
  <form id="index_filter_form" autocomplete="off">
    <% if filters_to_show.include? 'Age Range'%>
        <%= build_filter_checkboxes(t("potential_matches.filter_by.age_range_"+@type), (@type == "tracing_request") ? "tr_age" : "child_age", [
            '0-5',
            '6-11',
            '12-17',
            '18+'
        ], nil, nil, 'range') %>
    <% end %>
    <% if filters_to_show.include? 'Sex'%>
        <%= build_filter_checkboxes(t("potential_matches.filter_by.sex_"+@type), (@type == "tracing_request") ? "tr_gender" : "child_gender",
                                    Lookup.values('lookup-gender', @lookups, locale: I18n.locale)) %>
    <% end %>
    <% if filters_to_show.include? 'Score Range' %>
        <%= build_filter_checkboxes(t("potential_matches.filter_by.score_range"), 'average_rating', [
            '0-4',
            '4-8',
            '8-12',
            '12+'
        ], nil, nil, 'range') %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
