<div class="row collapse align-middle">
  <div class="columns">
    <div class="row">
      <div class="button-group">
        <% if sort_method %>
            <%= render partial: 'potential_matches/sort_actions', locals: {model: model} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
