<% forms_options.each do |_form_name, form_key| %>
    <div class='row filter-controls <%= row_selector %>' >
      <% field_options, form_name = matching_configuration.get_form_field_options(form_type, form_key) %>
      <div class='row field_form_label' >
        <%= label field_selector, form_name, :class => "key inline" %>
      </div>
      <%= select_tag field_selector,
                     options_for_select(field_options,
                                        matching_configuration.get_form_matchable_fields(form_type, form_key)),
                     { include_hidden: include_hidden,
                       multiple: true,
                       'data-placeholder': t('fields.select_box_empty_item'),
                       class:'chosen-select',
                       filter_type: 'list',
                       match_filter: "#{row_selector}",
                       name: "#{field_selector}[#{form_key}]"
                     }
      %>
    </div>
<% end %>