<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%
      button_label = ((@type == "tracing_request") ? t("buttons.sort_by_tr") : t("buttons.sort_by_case"))
    %>
    <%= link_to content_tag(:span, button_label), '', class: 'btn green-button action_btn' %>
    <ul>
      <% if controller.model_class == PotentialMatch %>
          <%= render 'potential_matches/button', type: "tracing_request" %>
          <%= render 'potential_matches/button', type: "case" %>
      <% end %>
    </ul>
  </li>
</ul>
