<div class="pm_div">
  <% if @type == "tracing_request" %>
    <%= render 'potential_matches/summary_row_tracing_request', record: record %>
  <% end %>
  <% if @type == "case" %>
    <%= render 'potential_matches/summary_row_case', record: record %>
  <% end %>
</div>