$drawerWidth: 240px;

.drawer {
  width: $drawerWidth;
  flex-shrink: 0;
}

// TODO: Shouldn't have to place !important. Figure out order in webpack build
.drawerPaper {
  width: $drawerWidth;
  background: linear-gradient(to top, #fff, #f0f0f0),
    linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.14)) !important;
  position: relative !important;
  white-space: nowrap;
}

.navList {
  flex-grow: 1;
}
