.nav {
  & > div {
    height: 100%;
  }
}

.drawer {
  width: var(--drawer);
  flex-shrink: 0;
}

.drawerRoot {
  height: 100%;
}

.drawerHeaderContainer {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.drawerHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing-0-1);
  background: var(--c-light-grey);
}

.drawerPaper, .drawerPaper-demo {
  width: var(--drawer);
  background: linear-gradient(
      to top,
      var(--c-white),
      var(--c-light-grey)
    );
  position: relative;
  white-space: nowrap;
  border: none;
  box-shadow: inset -2px 0 2px -1px rgb(0 0 0 / 5%);
}

[dir="rtl"] .drawerPaper, [dir="rtl"] .drawerPaper-demo {
  box-shadow: inset 2px 0 2px -1px rgb(0 0 0 / 5%);
  text-align: right;
}

.drawerPaper-demo {
  background: repeating-linear-gradient(45deg, var(--c-light-grey), var(--c-light-grey) 10px, var(--c-white) 10px, var(--c-white) 20px);
}

.listIcon {
  min-width: 2.5em;
}

.listText {
  font-size: var(--fs-14);
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navList {
  & svg {
    color: var(--c-dark-grey);
  }

  & li {
    padding: 0;
  }
}

.navListAccount {
  flex-grow: 1;

  & li {
    padding: 0;
  }
}

.accountListItem {
  padding: 0;

  & a {
    text-indent: 2.5em;
  }

  & span {
    font-size: var(--fs-13);
  }
}

.readOnlyNavListItem {
  cursor: default;
  padding: 8px 16px !important;
}

.navSeparator {
  width: 219px;
  height: 1px;
  margin: 0.375em 0 0.938em;
}

.navLink {
  text-decoration: none;
  color: var(--c-black);
  padding: 8px 16px !important;
  display: flex;
  width: 100%;
  align-items: center;
}

.corners {
  content: "";
  position: absolute;
  right: 0;
  z-index: 99;
  height: 0.625em;
  width: 0.625em;
}

.navActive {
  background: var(--c-content-grey);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 5%);

  & svg {
    color: var(--c-black);
  }
}

.navSeparator {
  width: 219px;
  height: 1px;
  background: var(--c-warm-grey-1);
  margin: 0 auto;
}

.navAgencies {
  flex: 1;

  & div {
    height: 100%;
  }
}

@media (max-width:959.95px) {
  .drawerPaper, .drawerPaper-demo {
    box-shadow: none
  }

  .navActive {
    &:before, &:after {
      display: none;
    }
  }
}

@media (min-width:960px) and (max-width:1279.95px) {
  .drawerPaper, .drawerPaper-demo {
    width: 3.8em;
    overflow-x: hidden;
  }

  .listIcon {
    min-width: 5.5em;
  }

  .accountListItem {
    display: none;
  }
}
