<!DOCTYPE html>
<html lang="<%= @user.locale || I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  </body>
</html>

===============================================

<%= t("email_notification.alert",
    record_type: @record.class.parent_form,
    id: @record.short_id,
    locale: @locale_email
)%>