<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t('email.approval_request_html', user: @user.user_name, approval_type: @approval_type, case_id: @child.case_id_display) %></p>
  </body>
</html>
