<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>The user <strong><%= @user.user_name %></strong> is requesting approval for <strong><%= @approval_type %></strong> on case <strong><%= @child.case_id_display %></strong>.</p>
  </body>
</html>
