<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t("email_notification.#{@transition.key}_html",
             user: @transition.transitioned_by,
             agency: @transition&.transitioned_by_user&.agency&.name,
             record_type: t("forms.record_types.#{@transition&.record.class.parent_form}"),
             record_id: link_to(
                 @transition&.record&.short_id, url_for_v2(@transition&.record)
             ),
             service_type: @transition.service).html_safe
       %>
    </p>
  </body>
</html>
