<%
  is_field_edit ||= false
%>
<div class="translation">
  <% if show_drop_down %>
      <div class="row">
        <div class="medium-3 columns">
          <label class="key inline"><%= t("fields.select_date_validation") %></label>
        </div>
        <div class="medium-9 columns">
          <div class="lang_title">
            <%= select_tag('field[date_validation]', 
                           options_for_select(Field::DATE_VALIDATION_OPTIONS.map{ |v| [I18n.t("fields.#{v}"), v] },
                           @field.date_validation) ) %>
          </div>
        </div>
      </div>
  <% end %>
</div>
