<%
  lookup_options ||= []
  lookup_selection = ((@field.present? && @field.option_strings_source.present?) ? @field.option_strings_source : "")
%>
<div class="row">
  <div class="large-4 medium-4 columns">
    <%= label_tag :option_strings_source_label, t("fields.option_strings_source")%>
  </div>
  <div class="large-8 medium-8 columns">
    <%= select_tag 'field[option_strings_source]', options_for_select(lookup_options, lookup_selection )%>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 columns">
    <%= fld.label :multi_select, t("fields.multi_select"), :class => "key" %>
  </div>
  <div class="large-8 medium-8 columns">
    <%= fld.check_box :multi_select?, {}, "true", "false" %>
  </div>
</div>
