<%
  is_field_edit ||= false
%>
<div class="translation">
  <% if show_drop_down %>
    <div class="row">
      <div class="medium-3 columns">
        <label class="key inline"><%= t(:provide_translation) %></label>
      </div>
      <div class="medium-9 columns">
        <div class="lang_title">
	      <%= select_tag("locale", options_for_select(Primero::Application::LOCALES_WITH_DESCRIPTION.select { |option| option[1] != I18n.default_locale.to_s }), :class => 'locale') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
