<%
  # Currently defaulting to 3 tally fields
  # The application can support more if we want to allow more
  if @field.present? && @field["tally_#{given_locale}".to_sym].present?
    tally1 = @field["tally_#{given_locale}".to_sym].first || ""
    tally2 = @field["tally_#{given_locale}".to_sym].second || ""
    tally3 = @field["tally_#{given_locale}".to_sym].third || ""
  else
    tally1 = tally2 = tally3 = ""
  end
%>
<div class="row">
  <div class="large-4 medium-4 columns">
    <%= label_tag :tally_label, t("fields.tally_field", :locale => given_locale.to_sym)%>
  </div>
  <div class="large-4 medium-4 columns">
    <%= text_field_tag "field[tally_#{given_locale}][]", tally1 %>
  </div>
  <div class="large-4 medium-4 columns">
    <%= text_field_tag "field[tally_#{given_locale}][]", tally2 %>
  </div>
  <div class="large-4 medium-4 columns">
    <%= text_field_tag "field[tally_#{given_locale}][]", tally3 %>
  </div>
</div>