<%
  is_field_edit ||= false
%>
<div class="translation">
  <% if show_drop_down %>
    <%= render 'shared/locale_select' %>
  <% end %>
  <% Primero::Application::LOCALES.each do |new_locale| %>
    <% if given_locale != new_locale %>
      <div class="<%= "translation_forms #{new_locale}"%> hide_element">
        <%= render :partial => 'form_section/fields', :locals => {:fields => fields, :fld => fld, :given_locale => new_locale, :is_translation => true, :is_field_edit => is_field_edit}%>
      </div>
    <% end %>
  <% end %>
</div>

