<%
  #This is necessary because "name" on the form level is translated, "name" on the field level is not
  is_field_edit ||= false
  is_translation ||= false
%>
<% if is_field_edit %>
  <% unless is_translation %>
    <div class="row">
      <div class="large-3 medium-3 columns">
        <label class="key inline"><%= t("fields.db_name") %></label>
      </div>
      <div class="large-9 medium-9 columns">
        <%= fld.send "#{field_type}", "#{field_name}".to_sym %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="large-3 medium-3 columns">
      <label class="key inline"><%= t(field_name.to_sym, :locale => given_locale.to_sym) %></label>
    </div>
    <div class="large-9 medium-9 columns">
      <%= fld.send "#{field_type}", "#{field_name}_#{given_locale}".to_sym %>
    </div>
  </div>
<% end %>
