<div class="row">
  <div class="file medium-4 columns">
    <%= label_tag "#{formObject.class.name.underscore.downcase}[audio]", I18n.t("fields.file_upload_box.recorded_audio_label"), :class=>'key inline' %>
  </div>
  <div class="medium-8 columns file_upload">
    <%= render "form_section/file_input", name: "#{formObject.class.name.underscore.downcase}[recorded_audio][0][audio]", id: "#{formObject.class.name.underscore.downcase}_audio_recorded_audio_0_audio", help_text: ""%>
    <ul class="audio_player_section">
      <%= render :partial => "form_section/field_display_audio", :locals => {:field => nil, :formObject => formObject, :display_audio_delete_checkbox => true} %>
    </ul>

    <% if audio_upload_box.help_text.present? %>
      <br/>
    <span class='help-text-container'>
      <span class='help-text'>
        <%= audio_upload_box.help_text %>
      </span>
    </span>
    <% end %>
  </div>
</div>