<%
   field_keys ||= []
   name = field_tag_name formObject, date_range, field_keys
   value_from, value_to = field_value formObject, date_range, field_keys
%>

<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag name, t(date_range.name, :default => date_range.display_name), :class=>'key' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <span>From:</span>
    <%= text_field_tag name.gsub(date_range[:name], "#{date_range[:name]}_from"), value_from, :class => 'form_date_field', :disabled => date_range.editable == false ? true : false %>
    <span>To:</span>
    <%= text_field_tag name.gsub(date_range[:name], "#{date_range[:name]}_to"), value_to, :class => 'form_date_field', :disabled => date_range.editable == false ? true : false %>
    <%= image_tag "new/icon_help.png", class: 'tool-tip-icon vtip', title: date_range.help_text.present? ? date_range.help_text: "(dd-mmm-yyyy)" %>
  </div>
</div>