<%
   field_keys ||= []
   name = field_tag_name formObject, date_field, field_keys
   field_id = "#{date_field.form.name.dehumanize}_#{sanitize_to_id name}"
   value ||= field_value formObject, date_field, field_keys
%>

<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag field_id, t(date_field.name, :default => date_field.display_name), :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <%= text_field_tag name, value, :class => 'form_date_field has_help', :id => field_id, :disabled => date_field.editable == false ? true : false, :editable => date_field.editable %>
    <p class="help"><%= t("fields.date_help") %></p>
  </div>
</div>