<div class="row">
  <%
     #TODO: This will break for nested nested subforms if we decide to have those.
     subform_section = field.subform_section
     number_of_subforms = subforms_count formObject, field, form_group_name
     subform_object = get_subform_object formObject, subform_section, form_group_name
  %>
  <h5 class="tool-tip-label">
    <span><%= label_tag field.name, t(field.name, :default => field.display_name), :class=>'key' %></span>
  </h5>
  <div class="subforms">
    <fieldset class="subform no-border">
    <% (number_of_subforms).times do |i| %>
      <%
        formObject_i = subform_object["#{i}"]
        formObject_i[:password_protected_name] = formObject.password_protected_name
      %>
      <h5 class="tool-tip-label">
        <span><%= label_tag field.name, t(field.name, :default => field.display_name.singularize), :class=>'key' %></span>
      </h5>
      <% (subform_section.fields.select {|field| field.visible? }).each do |field| %>

        <%= render :partial => "form_section/field_display_#{field.display_type}",  :locals=>{:field => field, :formObject=>formObject_i} %>
      <% end %>
    <% end %>
    </fieldset>
  </div>
</div>
