<% #This template is for generate the static text placeholder of the collapse/expand subforms functionality. %>
<%
  field_keys ||= []
  name = field_tag_name formObject, field, field_keys
  value ||= field_value formObject, field, field_keys
  value_to_display = field_value_for_display value

  #field_type will be used to identify how to retrieve the changes in the subform fields
  #to update the static text placeholder if the field was changed by the user and the user 
  #collapsed the subform.
  field_type = field.type
  field_type = "chosen" if field.type == "select_box" and field.multi_select == true
%>
<div class="row row-static-text">
  <div class="medium-4 columns">
    <%= label_tag name, t(field.name, :default => field.display_name), :class=>'key' %>
  </div>
  <div class="medium-8 columns">
    <span id="<%= sanitize_to_id(name) %>_static_text" class="value <%= field_type %>_type"><%= value_to_display == "" ? "???" : value_to_display %></span>
  </div>
</div>
