<div class="row">
  <div class="medium-4 columns">
    <label class="key"><%= t(field.name, :default => field.display_name) %></label>
  </div>
  <div class="medium-8 columns">
    <div class="documents">
      <% if formObject["other_documents"].present? %>
        <% formObject["other_documents"].each do |document| %>
          <div>
            <%= link_to document["file_name"], child_document_url(formObject.id, document["attachment_key"]) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>