<div class="row align-middle">
  <div class="medium-4 columns">
    <label class="key"><%= field.display_name %></label>
  </div>
  <div class="medium-8 columns">
    <%
      value = field_value_for_display formObject[field.name]
      value = "false" if value.blank?
    %>
    <span class="value"><%= I18n.t(value) %></span>
  </div>
</div>
