<div class="row separator_field">
  <div class="large-12 columns separator" id="<%= field.name %>">
    <span data-field-tags="<%= field.field_tags.present? ? field.field_tags : [] %>">
      <%= t(field.name, :default => field.display_name) %>
    </span>
  </div>
</div>