<div class="row">
  <div class="medium-4 columns">
    <label class="key"><%= t(field.name, :default => field.display_name) %></label>
  </div>
  <div class="medium-8 columns">
    <span class="value">From:</span>
    <span class="value"><%= field_value_for_display formObject["#{field.name}_from"] %></span>
    <span class="value">To:</span>
    <span class="value"><%= field_value_for_display formObject["#{field.name}_to"] %></span>
  </div>
</div>