<div class="row">
  <div class="medium-4 columns">
    <label class="key"><%= t(field.name, :default => field.display_name) %></label>
  </div>
  <div class="medium-8 columns">
    <% if field.link_to_path.present? %>
      <%= field_link_for_display field, formObject[field.name]%>
    <% else %>
      <%
        value = field_value_for_display formObject[field.name]
        if field.multi_select.present? and field.multi_select == true
          value = field_value_for_multi_select formObject[field.name], field
        end
        value = I18n.t("cases.hidden_text_field_text") if formObject[:hidden_name] && field.hidden_text_field
      %>
      <span class="value"><%= value %></span>
    <% end %>
  </div>
</div>
