<% if formObject["other_documents"].present? %>
  <div class="uploaded-documents">
    <% formObject["other_documents"].each do |document| %>
      <div class="row">
        <div class="medium-4 columns">
          <label class="key document">Other Document</label>
        </div>
        <div class="medium-8 columns">
          <% document_url = send("#{formObject.class.name.underscore.downcase}_document_url", formObject.id, document["attachment_key"]) %>
          <%= link_to document["file_name"], document_url, :class => "document" %>
        </div>
        <div class="medium-4 columns">
          <label class="key document-description">Document Description</label>
        </div>
        <div class="medium-8 columns">
          <% value = document["document_description"] || "" %>
          <span class="document-description"><%= value %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>