<% date = defined?(form_date) && (form_date != '') ? form_date : '' %>
<div class="flash header_message row">
  <p class="notice large-12">
    <%= t("messages.#{alert_type}_alert", :form_name => display_alert, :form_date => date) %>
  </p>
</div>