<%
  date = defined?(form_date) ? form_date : ''
  user = defined?(form_user) ? form_user : ''
  agency = defined?(form_agency) ? form_agency : ''
%>
<div class="flash header_message row">
  <p class="notice large-12">
    <%= t("messages.#{alert_type}_alert", form_name: form_name, date: date, user: user, agency: agency) %>
  </p>
</div>