<%
   field_keys ||= []
   name = field_tag_name formObject, select_box, field_keys
   name += "[]" if select_box.multi_select   
   value ||= field_value formObject, select_box, field_keys
%>

<div class="row">
  <div class="medium-4 columns">
      <span class="tool-tip-label">
        <%= label_tag name, t(select_box.name, :default => select_box.display_name), :class=>'key'  %>
      </span>
  </div>
  <div class="medium-8 columns">
    <% if select_box.multi_select %>
      <%= select_tag name, options_for_select(select_box.select_options(formObject), value), 'multiple' => '', 'class' => 'chosen-select', 'data-placeholder' => t("fields.chosen_placeholder") %>
    <% else %>
      <%= select_tag name, options_for_select(select_box.select_options(formObject), value) %>
    <% end %>
    <%= image_tag "new/icon_help.png", title: select_box.help_text, class: 'tool-tip-icon vtip' if select_box.help_text.present? %>
  </div>
</div>
