<ul class="tab-handles side-nav">
  <% #TODO - temp counter %>
  <% i = 0 %>
  <% tabs.keys.each do |form_group| %>
      <% if false %>
      <% #TODO - fix this - if form_section.is_first_tab %>
          <li class="current" data-first-tab="true">
      <% else %>
          <li>
      <% end %>
          <% #TODO - fix this %>
          <a href="#tab_<%= i %>"><%= t(form_group, :default => form_group) %></a>
      </li>
      <% # TODO - Temporary %>
      <% i += 1 %>
  <% end %>
</ul>
