<ul class="tab-handles side-nav">
  <% tabs.each do |form_section| %>
      <% if form_section.is_first_tab %>
          <li class="current" data-first-tab="true">
      <% else %>
          <li>
      <% end %>
          <a href="#tab_<%= form_section.section_name %>"><%= t(form_section.unique_id, :default => form_section.name) %></a>
      </li>
  <% end %>
</ul>
