<%
  field_keys ||= []
  name = field_tag_name formObject, textarea, field_keys
  field_id = "#{textarea.form.name.dehumanize}_#{sanitize_to_id name}"
  value ||= field_value formObject, textarea, field_keys
  is_disabled = textarea.disabled
  disabled = (defined?(is_subform) && is_subform) ? true : is_disabled
%>
<div class="row">
  <div class="medium-4 columns">
    <span class="tool-tip-label">
      <%= label_tag field_id, textarea.display_name, :class=>'key inline' %>
    </span>
  </div>
  <div class="medium-8 columns">
    <% if textarea.required %><span class="required form-section-required">*</span><% end %>
      <%= text_area_tag name, value, :disabled => disabled, :is_disabled => is_disabled, :id => field_id, :editable => textarea.editable, rows: "2", required: textarea.required, :"data-abide-ignore" => !textarea.required || (defined?(is_subform) && is_subform) ? "" : nil %>
    <% if textarea.help_text %><p class="help"><%= textarea.help_text %></p><% end %>
    <% if textarea.guiding_questions.present? %>
      <%= render 'form_section/guiding_questions', guiding_questions_text: textarea.guiding_questions %>
    <% end %>
  </div>
</div>
