<%
  field_keys ||= []
  name = field_tag_name formObject, textarea, field_keys
  field_id = "#{textarea.form.name.dehumanize}_#{sanitize_to_id name}"
  value ||= field_value formObject, textarea, field_keys
%>
<div class="row">
  <div class="medium-4 columns">
      <span class="tool-tip-label">
          <%= label_tag field_id, t(textarea.name,:default => textarea.display_name), :class=>'key inline' %>
      </span>
  </div>
  <div class="medium-8 columns">
    <%= text_area_tag name, value, :disabled => textarea.editable == false ? true : false, :id => field_id, rows: "2" %>
    <% if textarea.guiding_questions.present? %>
      <%= link_to(t('buttons.guiding_questions'), '', class: 'gq_popovers', tabindex: '0', 
            data: { 
              toggle: 'popover', 
              trigger: 'focus', 
              title: t('buttons.guiding_questions'), 
              html: true 
            }) %>
      <div class='popover_content' style="display:none;">
        <%=  textarea.guiding_questions %>
      </div>
    <% end %>
  </div>
</div>

