<div class="row">
  <div class="large-4 medium-4 columns">
    <%
       #TODO i18n and STYLE
    %>
    <h4><%= "Forms > #{@parent_form.humanize}"%></h4>
  </div>
  <div class="large-6 medium-6 columns">
  </div>
  <div class="large-2 medium-2 columns">
      <%= select_tag :parent_form,
                     options_for_select(['case', 'incident', 'tracing_request'], :include_blank => true),
                     :onchange => "if(this.value){window.location='?&parent_form='+this.value;}" %>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns">
    <ul>
      <% @form_sections.each do |form_group, forms| %>
        <%= build_form_custom_list(form_group, forms) %>
      <% end %>
    </ul>
  </div>
</div>
