<div class="row">
  <div class="large-4 medium-4 columns">
    <h4>
      <%= "Forms > #{@parent_form.humanize}"%>
    </h4>
  </div>
  <div class="large-8 medium-8 columns">
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 columns">
    <ul>
      <% @form_sections.each do |form_group, forms| %>
        <%= build_form_custom_list(form_group, forms) %>
      <% end %>
    </ul>
  </div>
</div>
