<% content_for :breadcrumbs do %>
<!-- TODO: Translate this -->
 New Form
<% end %>

<div class="row collapse">
  <div class="medium-12 columns panel text-center">
    <%= t("forms.messages.use_existing") %>
  </div>
</div>

<%= render :partial => 'form_section/new_or_edit_form_section' %>
