<div class="row">
  <div class="large-12">
    <%= render :partial => "record_shared/change_log", :locals => {record: @tracing_request} %>
    <div class="profile-tools">
      <ul>
        <li class="back"><%= link_to t("buttons.back"), tracing_request_path(@tracing_request), class: "button" %></li>
      </ul>
    </div>
  </div>
</div>