<div class="panel">
  <form id = 'index_filter_form' class = 'default-form' autocomplete = "off">
    <% if filters_to_show.include? 'Matching Configuration'%>
      <div class='filter' >
        <h3><%= t("matching_configuration.case_fields") %></h3>
        <%= render partial: 'record_shared/match_filter', locals: {
          matching_configuration: @matching_configuration,
          form_type: 'case',
          forms_options: @matching_configuration.case_form_options,
          forms: @matching_configuration.case_forms,
          row_selector: "potential_match_configuration",
          field_selector: :case_fields,
          include_hidden: true
        }
        %>
      </div>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
