.title {
  font-size: $(theme.typography.pxToRem(22));
  text-transform: uppercase;
}

.subtitle {
  font-size: $(theme.typography.pxToRem(16));
  text-transform: uppercase;
}

.toggleButtonGroup {
  margin-left: 1rem;
}

.TablePercentageBar {
  position: relative;
  width: 100%;
  height: 0.75rem;
  text-align: right;
  min-width: 14rem;
}

.TablePercentageBarComplete {
  display: inline-block;
  height: 100%;
  border-radius: 1rem;
}

.StackedPercentageBarContainer {
  padding: 1rem;
  width: 100%;
}

.StackedPercentageBar {
  position: relative;
  width: 100%;
  height: 2rem;
  min-width: 14rem;
  border-radius: 1rem;
  background-color: grey;
}

.StackedPercentageBar1Complete {
  display: inline-block;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: blue;
}

.StackedPercentageBar2Complete {
  display: inline-block;
  height: 100%;
  background-color: red;
}

.StackedPercentageBarLabels {
  position: relative;
  width: 100%;
  min-width: 14rem;
}

.StackedPercentageBarLabelContainer {
  display: inline-block;
}

.StackedPercentageBarLabel {
  margin: 0.5rem 0 0 0;
}

.bgBlue {
  background-color: blue;
}

.bgGrey {
  background-color: grey;
}
