.root {
  width: 80%;

  & p {
    white-space: pre-wrap;
    padding: 16px;
  }
}

.content {
  max-height: 12em;
  overflow: hidden;
  overflow-y: scroll;
}

.link {
  cursor: pointer;
}

.stepper {
  max-width: 80%;
  background: none;
  padding: 0;

  & div:first-of-type {
    padding-left: 0;
  }
}

.stepLabel,
.mobileStepper div {
  font-size: $(theme.typography.pxToRem(11));
  font-weight: bold !important;
  text-transform: uppercase;
}

.styleLabelActive, .mobileStepper {
  color: $(theme.primero.colors.blue) !important;
}

.mobileStepper {
  display: flex;
  align-items: center;

  & > span {
    margin-right: 1.5em;
    margin-left: 0.7em;
  }
}

