<div class="panel">
  <%= render 'record_shared/filter_buttons' %>
  <form id="index_filter_form" autocomplete="off">
      <%= build_filter_checkboxes(t("users.filter_by.status"), 'status',
                                  [{'enabled' => t("users.filter_by.enabled")},
                                   {'disabled' => t("users.filter_by.disabled")}]) %>
  </form>
  <div class="clearfix"></div>
</div>
