<table id="list_table" class="list_table_2 dataTable in_content_area">
  <thead>
    <%= render :partial => 'users_header' %>
  </thead>
  <tbody>
    <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>
