<% content_for :breadcrumbs do %>
    <%= link_to t("users.label"), users_path %>: <%= t("users.create") %>
<% end %>


<div class="page-content-new row collapse" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
  	<div class="side-tab-content" data-equalizer-watch>
  		<div class="row">
	  		<div class="large-12 columns">
			    <%= render :partial => "editable_user", :object => @user %>
		    </div>
	    </div>
    </div>
  </div>
</div>


