.submitButtonWrapper {
  position: relative;
  & button {
    padding-left: 5px;
  }
}

.buttonProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -16px;
}

.dialogTitle {
  & h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
