.submitButtonWrapper {
  position: relative;
}

.buttonProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -16px;
}

.dialogTitle {
  & h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.actionButton, .actionButtonCancel {
  box-shadow: none;
  color: $(theme.primero.colors.white);
  background: $(theme.primero.colors.blue);
  min-width: 8em;
  height: 32px;

  &:hover {
    color: $(theme.primero.colors.black);
  }

  & svg {
    margin-left: -10px;
  }
}

.actionButtonCancel {
  background: $(theme.primero.colors.grey);
  margin: 0 .5em;
}

.subHeader {
  font-size: 0.8rem;
  margin-left: 1.5rem;
}


@media $(theme.breakpoints.down("sm")) {
  .actionButton, .actionButtonCancel {
    min-width: 0;

    & svg {
      margin-left: 0;
    }
  }
}
