.root {
  & li:before {
    content: none;
  }
}

.itemContainer {
  display: flex;
  flex-direction: column
}

.itemHeader {
  font-size: var(--fs-16);
  font-weight: bold;
}

.container {
  overflow: auto;
}

.seeDetailsStyle {
  padding-top: 6;
  color: var(--c-blue);
}

.detailName {
  font-style: italic;
}
