version: '3'
services:
  nginx:
    image: nginx:prim-latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certbot_certs:/certs
      - selfsigned_certs:/etc/certs
      - tmp:/srv/primero/application/tmp
      - log:/var/log/
      - public:/srv/primero/application/public
    env_file:
      - docker/defaults.env
      - docker/local.env
    environment:
      - USE_LETS_ENCRYPT=false
    depends_on:
      - application
  application:
    env_file:
      - docker/defaults.env
      - docker/local.env
    ports:
      - "3000:3000"
  solr:
    env_file:
      - docker/defaults.env
      - docker/local.env
    ports:
      - "8983:8983"
  beanstalkd:
    env_file:
      - docker/defaults.env
      - docker/local.env
  backburner:
    env_file:
      - docker/defaults.env
      - docker/local.env
  postgres:
    env_file:
      - docker/defaults.env
      - docker/local.env
    ports:
      - "5432:5432"
  scheduler:
    env_file:
      - docker/defaults.env
      - docker/local.env
