<%
  sort_options ||= []
%>
<form class="filter_bar" autocomplete="off">
  <div class="row">
    <div class="medium-6 columns">
      <div class="float_left">
        <small class="scope_label"><%= t("disabled.filter_label") %></small>
        <%= select_tag :filter, disabled_options(params[:filter]), { :onchange => "this.form.submit();"} %>
      </div>
    </div>
    <div class="medium-6 columns">
      <% if sort_options.present? %>
        <div class="float_left">
          <small class="scope_label"><%= t("sort_by.label") %></small>
          <%= select_tag :sort, options_for_select(sort_options, params[:sort]), { :onchange => "this.form.submit();"} %>
        </div>
      <% end %>
    </div>
  </div>
</form>