<header>
  <div class="row">
    <div class="column flex-container flex-dir-column">
      <div class="flex-child-auto">
        <%= link_to root_path, :class => 'logo', id: "RapidFTRlogo"  do %>
          <%= image_tag('logo.png', alt: 'Primero') %>
        <% end %>
      </div>
      <div class="flex-child-auto">
        <div class="sublogo">Protection-related information management</div>
      </div>
    </div>
    <div class="column flex-container flex-dir-column">
      <div class="flex-child-auto">
        <ul class="menu agency_logos align-right"><% display_agency_logos %></ul>
      </div>
      <div class="flex-child-auto">
        <%= render :partial => "shared/header_links" %>
      </div>
    </div>
  </div>
</header>