<%
  current_locale ||= I18n.locale.to_s
%>

<div class="row">
  <div class="medium-3 columns">
    <label class="key inline"><%= t(:provide_translation) %></label>
  </div>
  <div class="medium-9 columns">
    <div class="lang_title">
      <%= select_tag("locale", options_for_select(@locales_with_description.reject { |option| option.last == current_locale }), :class => 'locale') %>
    </div>
    <p class="help"><%= t(:select_language) %></p>
  </div>
</div>