<% results ||= WillPaginate::Collection.new 1,1,0 %>

<div class="pagination-box">
  <%= will_paginate results %>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
	var pagination_details = {
		info: "<%= page_entries_info results %>"
	}
</script>