<div class="record_controls_container">
  <div class="record_controls">
    <div class="row collapse">
      <div class="large-4 medium-4 columns">
        <h4><%= yield :breadcrumbs %></h4>
      </div>
      <div class="large-8 medium-8 columns">
        <div class="row">
          <div class="large-12 columns">
            <ul class="inline-list">
              <%= yield :record_sub_nav %>
              <%= yield :record_sub_nav_controls %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>