<div class="row">
  <div class="large-12 columns">
    <%= form_for @matching_configuration, url: matching_configuration_path(@matching_configuration.id), method: :put,  html: { :class => 'default-form', :autocomplete => "off" } do |f| %>
      <fieldset class="no-border">
        <div class="row">
          <%= render partial: 'matching_configurations/sub_form', locals: {
              f: f,
              matching_configuration: @matching_configuration,
              form_type: 'case',
              forms_options: @matching_configuration.case_form_options,
              forms: @matching_configuration.case_forms,
              form_selector: :case_forms,
              form_name: t("matching_configuration.case_fields"),
              row_selector: "matching_configuration_case_forms",
              select_option_id: "matching_configuration_case_",
              field_selector: :case_fields,
            }
          %>
          <%= render partial: 'matching_configurations/sub_form', locals: {
              f: f,
              matching_configuration: @matching_configuration,
              form_type: 'tracing_request',
              forms_options: @matching_configuration.tracing_request_form_options,
              forms: @matching_configuration.tracing_request_forms,
              form_selector: :tracing_request_forms,
              form_name: t("matching_configuration.tracing_request_fields"),
              row_selector: "matching_configuration_tracing_request_forms",
              select_option_id: "matching_configuration_tracing_request_",
              field_selector: :tracing_request_fields
            }
          %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>