<%
  editing ||= false
%>

<% content_for :record_sub_nav do %>
  <div class="button-group">
    <%= discard_button(form_sections_path) %>
    <%= submit_button t("buttons.save") %>
  </div>
<% end %>

<div class="row">
  TODO
</div>
