<div class="large-6 columns">
  <div class="row">
    <%= f.label form_selector, form_name, :class => "key inline" %>
  </div>
  <div class="row">
    <div class="row field_form_label">
      <%= f.label form_selector, t("forms.label"), :class => "key inline" %>
    </div>
    <%= f.select form_selector,
                 options_for_select(forms_options, forms),
                 { include_hidden: false },
                 { multiple: true,
                   'data-placeholder': t("fields.select_box_empty_item"),
                   class: 'chosen-select',
                   id: "#{form_type}_forms"
                 }
    %>
  </div>
  <%= render partial: 'matching_configurations/field', locals: {
      f: f,
      form_type: form_type,
      matching_configuration: matching_configuration,
      forms_options: forms_options,
      forms: forms,
      row_selector: row_selector,
      select_option_id: select_option_id,
      field_selector: field_selector,
      include_hidden: false
  }
  %>
</div>
