<% content_for :breadcrumbs do %>
  <%= t "matching_configuration.edit" %>
<% end %>

<div class="page-content-new row">
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'matching_configuration'} %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      TODO!!!!
      <%# render :partial => 'matching_configurations/form', :locals => {:editing => true}  %>
    </div>
  </div>
</div>