<% content_for :breadcrumbs do %>
  <%= t "matching_configuration.edit" %>
<% end %>

<div class="page-content-new row">
  <%= render 'form_section/sidebar', highlight_page: 'matching_configuration' %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <%= render 'matching_configurations/form', editing: true %>
    </div>
  </div>
</div>