<% content_for :breadcrumbs do %>
  <%= I18n.t("matching_configuration.edit") %>
<% end %>

<% content_for :record_sub_nav do %>
  <%= render_controls(@matching_configuration, 'matching_configuration') %>
<% end %>

<div class="page-content-new row">
  <div class="medium-3 large-3 columns close-side-tab side-tab-container">
    <%= render 'shared/side_tab', highlight_page: 'matching_configurations' %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content">
      <%= render 'matching_configurations/form', editing: true %>
    </div>
  </div>
</div>