<div>
  <%= I18n.translate("dashboard.count_pending_transfers",
                     case_count(
                       {
                         name: :transfer_status,
                         stat: :pending,
                         filter: index_filters(['child_status=open',
                                                "transfer_status=#{I18n.t("referral.#{Transition::TO_USER_LOCAL_STATUS_INPROGRESS}",
                                                                          :locale => :en)}",
                                                'record_state=true',
                                                "owned_by=#{current_user.user_name}"])
                       }, stats, model)).html_safe %>
  <%= I18n.translate("dashboard.count_rejected_transfers",
                     case_count(
                       {
                         name: :transfer_status,
                         stat: :rejected,
                         filter: index_filters(['child_status=open',
                                                "transfer_status=#{I18n.t("referral.#{Transition::TO_USER_LOCAL_STATUS_REJECTED}",
                                                                          :locale => :en)}",
                                                'record_state=true'])
                       }, stats, model)).html_safe %>
</div>
<div>
  <%= I18n.translate("dashboard.count_waiting_for_acceptance_transfers",
                     case_count(
                       {
                         name: :in_progress_transfers,
                         stat: :in_progress,
                         filter: index_filters(['child_status=open',
                                                "transfer_status=#{I18n.t("referral.#{Transition::TO_USER_LOCAL_STATUS_INPROGRESS}",
                                                                          :locale => :en)}",
                                                'record_state=true',
                                                'transferred_to_users'])
                       }, stats, model)).html_safe %>
</div>