<% if @can_approval_bia %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_type,
                           stat: :bia,
                           filter: index_filters(["child_status=#{Child::STATUS_OPEN}", 'approval_status_bia=pending', 'record_state=true']),
                           stat_type: "#{I18n.t('approvals.bia')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>
<% if @can_approval_case_plan %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_type,
                           stat: :case_plan,
                           filter: index_filters(["child_status=#{Child::STATUS_OPEN}", 'approval_status_case_plan=pending', 'record_state=true']),
                           stat_type: "#{I18n.t('approvals.case_plan')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>
<% if @can_approval_closure %>
  <div>
    <%= I18n.translate("dashboard.count_pending_approval_total",
                       case_count(
                         {
                           name: :approval_type,
                           stat: :closure,
                           filter: index_filters(["child_status=#{Child::STATUS_OPEN}", 'approval_status_closure=Pending', 'record_state=true']),
                           stat_type: "#{I18n.t('approvals.closure')}"
                         }, stats, model)).html_safe %>
  </div>
<% end %>