<td><%= I18n.translate('dashboard.count_records_total',
                   case_count({name: :records, stat: :total}, stats, model)).html_safe %>
<%= I18n.translate('dashboard.count_records_new',
                   case_count({name: :records, stat: :new, filter: "?scope[child_status]=list||Open&scope[last_updated_by]=neg||#{current_user.user_name}"}, stats, model)).html_safe %>
</td>