<div><%= I18n.translate('dashboard.count_records_total',
                   case_count({name: :records, stat: :total, filter: index_filters(['child_status=open', 'record_state=true'])}, stats, model)).html_safe %>
<%= I18n.translate('dashboard.count_records_new',
                   case_count({name: :records, stat: :new, filter: index_filters(['new_other', 'child_status=open', 'record_state=true'])}, stats, model)).html_safe %>
</div>
