<% stats.each do |k, v| %>
<div>
  <%# TODO - i18n transfer_status %>
  <%= I18n.translate('dashboard.manager_transfers_totals',
      case_count(
        {  count: v[:total_cases],
           stat_type: k,
           filter: index_filters(["child_status=#{Record::STATUS_OPEN}", "transfer_status=#{k}" ,'record_state=true'])
        }, nil, model)).html_safe %>
</div>
<% end %>