<div>
  <%= I18n.translate("dashboard.count_pending_transfers",
                     case_count(
                       {
                         name: :transfer_status,
                         stat: :pending,
                         filter: index_filters(['child_status=Open',
                                                "transfer_status=#{I18n.t("referral.#{Transition::TO_USER_LOCAL_STATUS_INPROGRESS}",
                                                                          :locale => :en)}",
                                                'record_state=true'])
                       }, stats, model)).html_safe %>
  <%= I18n.translate("dashboard.count_rejected_transfers",
                     case_count(
                       {
                         name: :transfer_status,
                         stat: :rejected,
                         filter: index_filters(['child_status=Open',
                                                "transfer_status=#{I18n.t("referral.#{Transition::TO_USER_LOCAL_STATUS_REJECTED}",
                                                                          :locale => :en)}",
                                                'record_state=true'])
                       }, stats, model)).html_safe %>
</div>