<div class="panel">
 <div class="panel_header">
  <h4><%= t("dashboard.new_#{model.name.underscore}_assigned_to_you") %></h4>
 </div>
 <div class="panel_content">
  <ul>
    <% records.each do |c| %>
      <li><%= link_to link_dashboard_title(c), link_dashboard_path(c) %></li>
    <% end %>
  </ul>
 </div>
</div>