<% if can? :update, User %>
  <% unless @notifications.empty? %>
    <p><%= t('login.notification.users_requested_password_reset') %></p>
    <ul>
      <% @notifications.each do |notification| %>
        <% notification_for_user = User.find_by_user_name notification.user_name %>
        <li>
          <% if notification_for_user.nil? %>
            <%= t('login.notification.users_does_not_exist', user: notification.user_name, created: notification.created_at.strftime('%Y/%m/%d')) %>
          <% else %>
            <%= link_to notification.user_name, user_path(notification_for_user) %><%= t('login.notification.at', created: notification.created_at.strftime('%Y/%m/%d')) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
