<div id="dashboard" class="row">
  <div id="content" class="large-8 columns">
    <%= render 'scheduled_activities', scheduled_activities: @scheduled_activities %>
  </div>
  <div id="sidebar" class="large-4 columns">
    <%= render 'new_cases_assigned', cases: @cases %>
    <%= render 'recently_flagged', recently_flagged: @recently_flagged %>
  </div>
</div>