<% if formObject.errors.any? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2><%= I18n.t('error_message.notice') %></h2>
      <p><%= I18n.t('error_message.fields_notice') %></p>
      <ul>
        <% formObject.errors.messages.each do |e| %>
          <%= e[0].first %>
        <% end %>
      </ul>
    </div>
<% end %>
