<% if formObject.errors.any? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2>Errors prohibited this record from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% formObject.errors.messages.each do |e| %>
          <%= e[0].first %>
        <% end %>
      </ul>
    </div>
<% end %>
