<div class="panel">
  <div class="button-group align-center">
    <a class="button clear_filters"><%= t('cases.clear_filter') %></a>
    <a id="apply_filter" class="button"><%= t('cases.apply_filter') %></a>
  </div>
  <form id="index_filter_form" autocomplete="off">
    <% if filters_to_show.include? 'Status' %>
      <%= build_filter_checkboxes(t("agencies.filter_by.status"), 'status', [{'enabled' => t("disabled.status.enabled")}, {'disabled' => t("disabled.status.disabled")}]) %>
    <% end %>
  </form>
  <div class="clearfix"></div>
</div>
