<tr>
  <td id="child_<%= record.id %>" class="id_column">
    <% if can?(:write, record) %>
    <%= link_to record.name, edit_agency_path(record), id: record.id, class: 'id_link' %>
    <% else %>
    <%= record.name %>
    <% end %>
  </td>
  <td><%= record.description %></td>
</tr>