<% content_for :breadcrumbs do %>
  <%= t("agencies.label") %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'agencies'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <%= render({ partial: 'record_shared/list_view_table',
                 locals: {
                   model: Agency,
                   record: 'agency',
                   collection: @agencies,
                   opts: {
                     display_actions: false,
                     display_filter: true,
                     display_saved_search: false,
                     display_create: true,
                     is_side_tab: true
                   }
                 }
               })
%>

  </div>
</div>
