.iconActionButton {
  background-color: $(theme.primero.colors.blue);
  box-shadow: none;
  color: $(theme.primero.colors.white);
  margin-left: 5px;

  &:hover {
    color: $(theme.primero.colors.black);
  }
}

.isTransparent {
  background-color: transparent;
}
