.iconActionButton {
  background-color: var(--c-blue);
  box-shadow: none;
  color: var(--c-white);
  margin-left: 5px;

  &:hover {
    color: var(--c-black);
  }
}

.isTransparent {
  background-color: transparent;
}
