.stepCases {
  margin-top: var(--sp-2);
}

.itemButton {
  font-size: var(--fs-14);
  border: none;
  line-height: 1.5em;
  text-align: left;
  background: none;
  padding: 0;
  font-weight: 600;
}

.itemButtonClick {
  cursor: pointer;

  & span {
    color: var(--c-blue)
  }

  &:hover {
    text-decoration: underline;
  }
}

.connectorRoot {
  margin-bottom: 36px;
  font-weight: 600;
}

.connectorLine {
  height: 1px;
  border: 0;
  background-color: var(--c-warm-grey-5);
}
