.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.error {
  text-align: center;
  color: var(--c-warm-grey-1);

  & svg {
    font-size: var(--fs-96);
  }
}

.errorButton {
  color: var(--c-warm-grey-1) !important;
}

.errorMessage {
  font-size: var(--fs-18);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.2em 0 1em;
}

@media (max-width:959.95px) {
  .error {
    margin-top: 6em;
  }
}
