.root {
  width: 100%;
}

.heading {
  font-size: $(theme.typography.pxToRem(15));
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  height: 2.5em;

  & span {
    flex: 1
  }

  & button {
    float: right;
  }
}

.actionButtons {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 16px 0;

  & button {
    margin-left: 5px;
  }
}

.panel {
  box-shadow: 0 1px 7px 0 rgba(125, 125, 125, 0.23);
  margin-bottom: 2px;

  &:before {
    display: none;
  }

  & .panelDetails {
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 0 10px 12px 10px;
    max-height: 250px;
  }
}
