<%# TODO - tweak for referrals%>
<% if can?(:referral, controller.model_class) %>
<li>
  <a data-reveal-id="referral-modal" href="#">
    <%= t("buttons.referral") %>
  </a>

  <div id="referral-modal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= "WORK IN PROGRESS..." %>
  </div>
</li>
<% end %>

