<%
  options = report_filter_options(@options, filter['options'])
  multiple = filter['multiple'].present? && filter['multiple'] == true
  name = filter['name']
%>

<div class="filter">
  <div class="select_filter">
    <h3><%= I18n.t("report.report_filters.#{name}") %></h3>
    <div class="row collapse">
      <div class="large-12 columns">
        <%= select_tag name, options_for_select(options), class: 'chosen-select', multiple: multiple, prompt: !multiple ? I18n.t("report.report_filters.prompt") : nil %>
      </div>
    </div>
  </div>
</div>