.root {
  margin: 1.5em 0;
  overflow: auto;
}
.table {
  width: 100%;
}

.tableRow {
  background-color: $(theme.primero.colors.lightGrey);

  & td {
    font-weight: bold;
    border-right: 1px solid $(theme.primero.colors.lightGrey2);
  }

  & td:last-of-type {
    border-right: none;
  }
}

.tableRowHeader {

  & th:not(:first-child) {
    background-color: $(theme.primero.colors.lightGrey);
    font-weight: bold;
    border-left: 1px solid $(theme.primero.colors.lightGrey2);
  }

  & th:last-of-type {
    border-right: none;
  }
}

.borderHeadingRight, .tableRowValues {
  border-right: 1px solid $(theme.primero.colors.lightGrey2);
}
