.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;
}

.chip {
  margin: 5px;
  font-size: 11px;
}

.red-default, .red-default:focus {
  background-color: $(theme.primero.colors.red);
  color: $(theme.primero.colors.white);
}

.orange-default, .orange-default:focus {
  background-color: $(theme.primero.colors.orange);
  color: $(theme.primero.colors.white);
}

.orange-outlined {
  border-color: $(theme.primero.colors.orange);
  color: $(theme.primero.colors.orange);
}

.darkGrey-outlined {
  border-color: $(theme.primero.colors.darkGrey);
  color: $(theme.primero.colors.darkGrey);
}

.chipSelected, .chip:hover {
  box-shadow: none;
  background-color: rgb(197, 197, 197) !important;
  border-color: rgb(197, 197, 197);
}
