
.subformLink {
  color: var(--c-blue);
  font-size: var(--fs-16);
}

.subformLinkLabel {
  font-weight: bold;
  font-size: var(--fs-13);
}

.subformLinkWrapper {
  margin: 10px 0;
  cursor: not-allowed;
}

.subformLinkWrapperDisabled {
  cursor: not-allowed;
}

.subformLinkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: var(--c-warm-grey-1);
}
