.root {
  flexgrow: 1;
  padding: 15px;
}

.overviewList {
  list-style: none;
  font-size: 14px;
  line-height: 1.29;
  color: #231e1f;
}

.overviewList li:first-child {
  font-size: 14px;
  font-weight: bold;
  color: #231e1f;
  padding: 0 0 8px 0;
  text-transform: uppercase;
}

.dashboardChart {
  margin: 0 0 16px 0;
  border-right: 1px solid lightgray;
  padding: 0;
}

@media $(theme.breakpoints.down("sm")) {
  .overviewList {
    padding: 0;
  }

  .dashboardChart {
    margin: 0;
    border-right: none;
  }
}
