.root {
  flexgrow: 1;
  padding: 15px;
}

.sectionTitle {
  color: var(--c-warm-grey-4);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--sp-1);
  font-size: var(--fs-13);
}

.overviewList {
  list-style: none;
  font-size: var(--fs-13);
  line-height: 1.29;
  color: #231e1f;
  padding: 0;
}

.dashboardChart {
  margin: 0 0 16px 0;
  border-right: 1px solid lightgray;
  padding: 0;
}

.itemButton {
  font-size: var(--fs-14);
  font-weight: normal;
  border: none;
  line-height: 1.5em;
  text-align: left;
  background: none;
  cursor: pointer;
  padding: 0;
}

.itemButton:hover{
  text-decoration: underline;
}

.item {
  margin-bottom: var(--sp-1);
}

.count  {
  font-weight: 600;
  display: flex;
  line-height: 1.3;

  & div:last-of-type {
    color: var(--c-black);
    padding: 0 var(--sp-1);
  }
}

@media (max-width:959.95px) {

  .sectionTitle {
    padding-left: 1em;
  }

  .overviewList {
    padding-left: 1em;
  }

  .dashboardChart {
    margin: 0;
    border-right: none;
  }
}
