.root {
  flexgrow: 1;
  padding: 15px;
}

.sectionTitle {
  padding: 0 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.overviewList {
  list-style: none;
  font-size: 14px;
  line-height: 1.29;
  color: #231e1f;
  padding: 0 1.2em;
}

.dashboardChart {
  margin: 0 0 16px 0;
  border-right: 1px solid lightgray;
  padding: 0;
}

.itemButton {
  font-size: 1em;
  font-weight: normal;
  border: none;
  line-height: 1.5em;
  text-align: left;
  background: none;
  cursor: pointer;
  padding: 0;
}

.itemButton:hover{
  text-decoration: underline;
}

@media $(theme.breakpoints.down("sm")) {

  .sectionTitle {
    padding-left: 1em;
  }

  .overviewList {
    padding-left: 1em;
  }

  .dashboardChart {
    margin: 0;
    border-right: none;
  }
}
