base: &base
  host: localhost
  port: 5984
  https_port: 6984
  prefix: primero
  suffix: <%= Rails.env %>
  username: "primero"
  password: "primero"
  ssl: false

development:
  <<: *base

test:
  <<: *base

cucumber:
  <<: *base

uat:
  <<: *base

android:
  <<: *base

production:
  <<: *base
