$RAILS_ENV:
  adapter: postgresql
  database: $POSTGRES_DATABASE
  username: $POSTGRES_USER
  password: $POSTGRES_PASSWORD
  host: $POSTGRES_HOSTNAME
  sslmode: $POSTGRES_SSL_MODE
  pool: $POSTGRES_POOL_NUM
