development:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'es_GT', 'bn', 'km']

test:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'es_GT', 'bn', 'km']

production:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'es_GT', 'bn', 'km']
