development:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'bn']

test:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'bn']

production:
  :default_locale: 'en'
  :locales: ['en', 'fr', 'ar', 'ar-LB', 'ar-JO', 'so', 'es', 'bn']