#Sunspot automatically uses localhost:8982 for development and localhost:8981 for test environments

base: &base
  hostname: localhost
  port: 8983
  log_level: WARNING
  pid_dir: tmp/pids

production:
  solr:
    <<: *base
    path: /solr/production

development:
  solr:
    <<: *base
    log_level: INFO
    path: /solr/development

test:
  solr:
    <<: *base
    log_level: OFF
    path: /solr/test

cucumber:
  solr:
    <<: *base
    log_level: OFF
    path: /solr/cucumber