.root {
  display: flex;
  align-items: center;
  justify-content: center;
  & span {
    color: $(theme.primero.colors.white);
    font-size: $(theme.typography.pxToRem(12));
    font-weight: bold;
    position: absolute;
    z-index: 999;
  }
}
.circle, .circleForm {
  font-size: $(theme.typography.pxToRem(28));
  color: $(theme.primero.colors.moonYellow) !important;
}

.circleForm {
  font-size: 1rem;
  margin-left: 5px;
  padding-top: 4px;
}

@media $(theme.breakpoints.only('md')) {
  .Root {
    position: absolute;
    top: 47%;
    left: 60%;
    & span {
      display: none;
    }
  }
  .circle {
    font-size: 1rem;
  }
}