:root {
  --line: linear-gradient(to left, rgba(238, 238, 238, 0), rgba(232, 232, 232, 0.26) 18%, #d8d8d8);
}

.agencyLogo {
  width: 7.25em;
  padding: 1.375em 0;
  display: block;
}

.agencyLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.188em;
  text-align: center;
}

.line {
  height: 1px;
  background: var(--line);
  width: 12.5em;
}

@media $(theme.breakpoints.down('sm')) {
  .agencyLogo, .line {
    display: none;
  }
}

@media $(theme.breakpoints.only('md')) {
 .line {
    width: 100%;
  }

  .agencyLogoContainer {
    padding: 0 0.775em;
    margin-bottom: 0;
  }

  .agencyLogo {
    width: 100%;
    padding: 0.813em 0;
  }
}
