<ul id="menu" class="sf-menu">
  <li class="init_btn">
    <%= link_to content_tag(:span, t("actions.button")), '', class: 'btn green-button action_btn' %>
    <ul>
      <%= render 'imports/button' %>
      <%= render 'exports/button', locals: { model: model } %>
    </ul>
  </li>
</ul>
