<h1><%= t("case.actions.change_log") %></h1>
<div class="profile-header">
  <ul class="history-details">
    <% record.ordered_histories.each do |history| %>
      <% history['changes'].each_pair do |field, change| %>
        <% history_entry = history_entry_for(history, field, change) %>
        <% unless history_entry.empty? %>
          <li>
            <div>
              <%= render :partial => history_entry[:partial], :locals => history_entry[:locals].merge({:display_object => record}) %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>