<%
  do_saved_search ||= false
%>
<div class="button-group align-center">
  <a class="button clear_filters"><%= t('cases.clear_filter') %></a>
  <% if do_saved_search && can?(:create, SavedSearch) %>
    <a class="button save_search" data-open="save_filters"><%= t('cases.save_filter') %></a>
  <% end %>
  <a id="apply_filter" class="button"><%= t('cases.apply_filter') %></a>
</div>