<%= render partial: 'record_shared/create_button', locals: {model: model, record: record, modules: modules} %>

<% if Exporters::ACTIVE_EXPORTERS.any?{|exporter| can?("export_#{exporter.id}".to_sym, model)} %>
<div class="btn dropdown_btn">
  <span class="export"><%= t("#{record}.export") %></span>
  <div class="dropdown hide">
    <% Exporters::ACTIVE_EXPORTERS.each do |exporter| %>
      <% if can?("export_#{exporter.id}".to_sym, model) %>
        <%= link_to t("addons.export_task.#{exporter.id}.all"), children_path(:format => exporter.id, :per_page => :all), :class => "password-prompt" %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(".export-password-prompt").each(function() {
    var el = $(this);
    el.data("original-href", el.attr("href"));
    el.data("password", null);
  });

  $(".export-password-prompt").click(function() {
    var el=$(this), password=el.data("password"), href=el.attr("original-href");
    if (password == null || password == undefined || password == "") {
      password = prompt("Enter password");
      el.attr("href", href + (href.indexOf("?") == -1 ? "?" : "") + "&password=" + escape(password));
    }
  });
</script>
