<div class="row collapse align-middle">
  <div class="columns">
    <div class="row">
      <div class="button-group">
        <% if model.include?(Flaggable) %>
          <%= render partial: 'record_shared/flag_records', locals: {model: model} %>
        <% end %>
        <% if display_actions %>
          <%= render partial: 'record_shared/actions', locals: {model: model} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="shrink columns">
    <% if display_create %>
      <%= render partial: 'record_shared/create_button', locals: {model: model, record: record, modules: modules} %>
    <% end %>
  </div>
</div>
