<li>
  <a id="incident_details_from_case_button">
    <%= t("actions.incident_details_from_case") %>
  </a>

  <div id="incident-details-modal" class="reveal" data-reveal data-button="incident-details-modal">
    <%= render 'shared/modal_close' %>
    <div class="space"></div>
    <div class="row collapse">
      <div class="large-12 columns incident_details_container"></div>
    </div>
  </div>
</li>