<%
  model_class_name = controller.model_class.name.underscore.downcase
  #Use English locale to build url
  model_name = I18n.t("forms.record_types.#{model_class_name}", locale: 'en')
  mark_mobile_url = "/#{model_name.downcase.underscore.pluralize}/mark_for_mobile"
  button_label = ((mobile_value == true) ? t("buttons.mark_for_mobile") : t("buttons.unmark_for_mobile"))
%>
<li>
  <%= link_to button_label, '#', class: 'mark_for_mobile', :'data-mark_mobile_url' => mark_mobile_url,
          :'data-mobile_value' => mobile_value, :'data-id' => (defined?(instance) ? instance.id : nil)  %>
</li>
