<a  id="services_section_from_case_button_submit" data-turbolinks="false" data-form-type="services_section" data-form-id="services_section" data-form-sidebar-id="services"  class="button right">
  <%= t('buttons.save_and_add_service_provision') %>
</a>