<div class="row">
  <div class="large-12">
    <%= render :partial => "record_shared/change_log", :locals => {record: @incident} %>
    <div class="profile-tools">
      <ul>
        <li class="back"><%= link_to t("buttons.back"), incident_path(@incident), class: "button" %></li>
      </ul>
    </div>
  </div>
</div>