.inputPreviewContainer {
  display: flex;
}

.label span {
  display: flex;
  align-items: center;

  & div:first-of-type {
    width: 9em;
  }
}
.addCustomFieldButton {
  border-radius: 50px;
  box-shadow: none;
  color: $(theme.primero.colors.white);
  background: $(theme.primero.colors.blue);
  margin-bottom: 0.6em;

  &:hover {
    color: $(theme.primero.colors.black);
  }

  & svg {
    position: absolute;
    left: 0.6em;
  }
}

.cancelButton {
  background: $(theme.primero.colors.grey);
  color: $(theme.primero.colors.white);

  &:hover {
    color: $(theme.primero.colors.black);
    background-color: $(theme.primero.colors.warmGrey5);
  }
}

.listHeader {
    color: $(theme.primero.colors.black);
    text-transform: uppercase;
    font-weight: bold;
  & span {
    font-weight: bold;
  }
}
