.gbv {
  border: 1px solid var(--c-purple);
  background-color: var(--c-purple);
}

.mrm {
  border: 1px solid var(--c-blue);
  background-color: var(--c-blue);
}

.cpims {
  border: 1px solid var(--c-orange);
  background-color: var(--c-orange);
}

.cp {
  border: 1px solid var(--c-blue);
  background-color: var(--c-blue);
}

.cp-demo {
  background: repeating-linear-gradient(45deg, var(--c-dark-blue), var(--c-dark-blue) 10px, var(--c-blue) 10px, var(--c-blue) 20px);
}

.primeroBackground {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.authContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth {
  border-radius: 15px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--c-white);
  display: flex;
  width: 56em;
}

.formContainer {
  flex: 1 1 50%;

  & h1 {
    margin: 0;
  }
}

.form {
  padding: 3em;
}

.loginHeader div {
  margin: 0.75em 1em 1.55em 0;

  & img {
    width: 118px;
    margin-left: 8px;
  }
}

.loginLogo {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.02)
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(240, 240, 240, 0.5));
  box-shadow: inset 5px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0px 15px 15px 0px;
}

.loginLogo > div {
  height: 100%;
  justify-content: center;
  margin-bottom: 0;
}

.footer {
  font-size: var(--fs-12);
  flex-shrink: 0;
}

.footer button,
.footer a {
  font-size: var(--fs-13);
  color: var(--c-white);
}

.footer button,
.footer button > span > svg {
  color: var(--c-white);
}

.footer:last-child {
  padding-right: 15px;
}

.footer .navLink {
  color: var(--c-white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  padding: 1.3em 0.75em 0 0;
}

.footer .navLink span {
  padding-left: 10px;
}

@media (max-width:599.95px) {
  .loginLogo {
    display: none;
  }

  .auth {
    width: 90%;
  }
}

@media (min-width:600px) and (max-width:959.95px) {
  .auth {
    width: 90%;
  }
}
