.loadingIndicator {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 80%;
  align-items: center;
  margin: 3.5em 0;
}

.overlayLoading {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.errorContainer,
.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.error,
.empty {
  text-align: center;
  color: $(theme.primero.colors.warmGrey1);

  & svg {
    font-size: $(theme.typography.pxToRem(96));
  }
}

.errorButton {
  color: $(theme.primero.colors.warmGrey1) !important;
}

.errorMessage,
.emptyMessage {
  font-size: $(theme.typography.pxToRem(17));
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.2em 0 1em;
}

@media $(theme.breakpoints.down("sm")) {
  .error,
  .empty,
  .loadingIndicator {
    margin-top: 6em;
  }
}
