.listSavedSearches {
  padding: 5px 10px;
  background-color: var(--c-white);
  margin-top: 8px;
  border: 1px solid var(--c-light-grey);

  & p {
    text-align: center;
  }

  & h3 {
    color: var(--c-dark-grey);
  }
}