.statusList {
  float: left;
  padding: 0 18px;
  width: 100%;

  & h5 {
    margin: 25px 0 11px 0;
    color: var(--c-dark-grey);
    text-transform: uppercase;
  }

  & ul {
    padding: 0;
    list-style: none;

    & li {
      margin-bottom: 13px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-1);
  margin-top: var(--sp-2);
}

.sectionTitle {
  color: var(--c-warm-grey-4);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: var(--sp-1);
  font-size: var(--fs-13);
}
