.customToolbarFull {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5em;
}

.selectAllButton {
  padding-top: 5;
  font-size: 10;
  color: $(theme.primero.colors.blue);
}

.customToolbarTitle {
  display: flex;
  padding-top: 1em;
  padding-right: 1em;
  color: $(theme.primero.colors.black);
  flex-shrink: 0;
}

.customToolbarButton {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.firstGroup {
  display: flex;
  flex: 2 1;
  flex-wrap: wrap;
}

.lastGroup {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}

.customToolbarPagination{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

@media $(theme.breakpoints.down('sm')) {

  .customToolbarTitle {
    padding-top: 0.5em;
  }

  .customToolbarFull {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0px;
  }

  .firstGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lastGroup {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }

  .customToolbarButton {
    padding-left: 0em;
    padding-top: 0.5em;
    flex-wrap: wrap;
  }

  .customToolbarPagination {
    & > div:first-of-type {
      padding-left: 2px;
    }
    & div {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
}
