.customToolbarFull {
  width: 100%;
  box-sizing: border-box;
  display: border-box;
  flex-direction: column;
}

.selectAllButton {
  padding-top: 5;
  font-size: 10;
  color: $(theme.primero.colors.blue);
}

.customToolbarTitle {
  padding-top: 1em;
  float: left;
  color: $(theme.primero.colors.black);
}

.customToolbarAll {
  float: left;
  padding-top: 1.1em;
  padding-left: 1em;
}

@media $(theme.breakpoints.down('sm')) {
  .customToolbarFull {
    display: flex;
    flex-direction: column;
  }

  .customToolbarAll {
    float: left;
    padding-left: 0em;
    padding-top: 1em;
  }

  .customToolbarPagination {
    & > div:first-of-type {
      padding-left: 0em;
    }
  }
}
