.inputLabel {
  width: 100%;
  line-height: 1.5em;
  position: relative;
}

.radioLabels {
  font-size: $(theme.typography.pxToRem(14));
}

.input,
.selectField label + div {
  margin-top: 0 !important;
}

.selectField label + div {
  margin-top: 3px !important;
}

.formHeading,
.toolbarHeading,
.subformHeading {
  color: $(theme.primero.colors.solidBlack);
  font-weight: bold;
  text-transform: uppercase;
  font-size: $(theme.typography.pxToRem(22));
}

.toolbarHeading {
  font-size: $(theme.typography.pxToRem(20));
}

.subformHeading {
  font-size: $(theme.typography.pxToRem(14));
}

.actionButtonsContainer {
  width: 260px;
  text-align: right;
}

.actionButton,
.actionButtonCancel {
  box-shadow: none;
  color: $(theme.primero.colors.white);
  background: $(theme.primero.colors.blue);
  width: 8em;
  height: 32px;

  &:hover {
    color: $(theme.primero.colors.black);
  }
}

.actionButtonCancel {
  background: $(theme.primero.colors.grey);
  margin: 0 .5em;
}

.toolbar {
  background: $(theme.primero.colors.contentGrey);
}

.uploadBox {
  border-bottom: 1px solid #ddd;
}

.exandedSubform {
  width: 100%;
}

.expansionPanel {
  margin-bottom: 1em;
}

.formTitle {
  display: flex;
  background: $(theme.primero.colors.stickyGrey);
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;
}

.attachmentHeading {
  display: flex;

  & h4 {
    flex: 1;
  }
}

.attachment {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  & .titleText {
    flex: 1;
    font-size: $(theme.typography.pxToRem(17));
    font-weight: bold;
    text-transform: uppercase;
  }
}

.attachmentMeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: $(theme.typography.pxToRem(15));

  & span {
    font-size: $(theme.typography.pxToRem(11));
    color: $(theme.primero.colors.darkGrey);
  }
}

.attachmentUploadField {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
}

.inputField,
.attachmentInputField {
  display: none;
}

.backdrop {
  z-index: 99999;
}

.backdropClose {
  color: $(theme.primero.colors.white);
  position: absolute;
  top: 0;
  right: 0;
}

.imgsContainer {
  display: inline-block;
}

.imgContainer  {
  width: 200px;
  height: 140px;
  float: left;
  display: block;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 4px;
}

.img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.editImg {
  width: 100px;
}

.preview {
  height: 100px;
}

.attachment {
  display: flex;
  align-items: center;
  flex: 1;

  & label {
    margin-right: 2em;
  }
}

.buttonWrapper {
  position: relative;
}

.buttonProgress {
  position: absolute;
  margin-top: -12;
  margin-left: -12;
}

.loadingMargin {
  position: absolute;
}

.caseDisabled {
  color: $(theme.primero.colors.midGrey);
  font-size: $(theme.typography.pxToRem(17));
  text-transform: uppercase;
}

.menu {
  white-space: normal
}

.showActionButton {
  background-color: $(theme.primero.colors.blue);
  border-radius: 24px;
  color: $(theme.primero.colors.white);
  width: 8em;
  height: 32px;
  margin-left: 10px;

   &:hover {
    color: $(theme.primero.colors.black);
  }
}


@media $(theme.breakpoints.down("sm")) {
  .actionButton, .actionButtonCancel, .showActionButton {
    width: 0;
  }
}
