.inputLabel {
  width: 100%;
  line-height: 1.5em;
  position: relative;
}

.radioLabels {
  font-size: var(--fs-13);
}

.spacer {
  height: 40px;
}

.formHeading,
.toolbarHeading,
.subformHeading {
  color: var(--c-solid-black);
  font-weight: bold;
  font-size: var(--fs-20);
}
.formHeading {
  font-size: var(--fs-20);
}

.toolbarHeading {
  font-size: var(--fs-20);
  margin: 0;
}

.subformHeading {
  font-size: var(--fs-13);
}

.actionButtonCancel {
  background: var(--c-grey);
  margin: 0 .5em;
}

.toolbar {
  background: var(--c-content-grey);
}

.uploadBox {
  border-bottom: 1px solid #ddd;
}

.exandedSubform {
  width: 100%;
}

.expansionPanel {
  margin-bottom: 1em;
}

.formTitle {
  display: flex;
  background: var(--c-sticky-grey);
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;
  margin-bottom: var(--sp-3);
  padding-top: var(--sp-3);
}

.formSubtitle {
  font-size: var(--fs-15);
  font-weight: bold;
  color: var(--c-solid-black);
}

.attachmentHeading {
  display: flex;

  & .attachmentLabel {
    flex: 1;
  }
}

.attachment {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;

  & .titleText {
    flex: 1;
    font-size: var(--fs-18);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.attachmentMeta {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-16);

  & span {
    font-size: var(--fs-12);
    color: var(--c-dark-grey);
  }
}

.field {
  margin: 0 0 var(--sp-3)
}

.attachmentUploadField {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
}

.inputField,
.attachmentInputField {
  display: none;
}

.backdrop {
  z-index: 99999;
}

.backdropClose {
  color: var(--c-white);
  position: absolute;
  top: 0;
  right: 0;
}

.imgsContainer {
  display: inline-block;
}

.imgContainer  {
  width: 200px;
  height: 140px;
  float: left;
  display: block;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 4px;
}

.img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.editImg {
  width: 100px;
}

.preview {
  height: 100px;
}

.attachment {
  display: flex;
  align-items: center;
  flex: 1;
}

.buttonWrapper {
  position: relative;
}

.buttonProgress {
  position: absolute;
  margin-top: -12;
  margin-left: -12;
}

.loadingMargin {
  position: absolute;
}

.caseDisabled {
  color: var(--c-mid-grey);
  font-size: var(--fs-18);
  text-transform: uppercase;
}

.menu {
  white-space: normal
}

.actionsContainer {
  display: flex;
  gap: var(--sp-1);
}

.badgeIndicator {

  & span {
    top: 2px;
    right: 8px;
  }
}

.attachmentRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seperator {
  margin: var(--sp-3) 0;
}

.separatorTitle {
  display: flex;
  align-items: center;
  gap: var(--sp-2);

  & h4 {
    margin: 0;
    max-width: 80%;
  }

  &:after {
    content: "";
    height: 1px;
    background: var(--c-warm-grey-1);
    flex: 1;
    display: block;
  }
}

.associatedCaseLink {
  margin: 0;

  & a {
    color: var(--c-blue);
  }
}

.error {
  color: var(--c-red-label-error) !important;
}

.flipImage {
  transform: scaleX(-1);
}

.readonly {
  & fieldset {
    border: none;
  }

  & input {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  & input::placeholder {
    color: var(--c-black) !important;
  }
}

.readonly :global .MuiOutlinedInput-root {
  background: transparent;
}