<% content_for :breadcrumbs do %>
  <%=   t("roles.label") %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <div class="large-3 medium-3 columns close-side-tab side-tab-container">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'roles'} %>
  </div>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <div class="row">
        <div class="large-12 columns">
          <%= render :partial => "editable_role", :object => @role %>
        </div>
      </div>
    </div>
  </div>
</div>
