.root {
  & > div {
    padding: 1em;
  }
}

.content {
  display: flex;
}

.table {
  flex-grow: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  background: $(theme.primero.colors.contentGrey);
  z-index: 99;
}
