.root {
  & > div {
    padding: 1em;
  }
}

.content {
  display: flex;
}

.table {
  flex-grow: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  background: $(theme.primero.colors.stickyGrey);
  z-index: 9999;
}

.drawer: {
  padding: 0 0.5em;
}

.tableContainer {
  display: flex;
  flex-direction: column;
}

.overdueHeading {
  cursor: pointer;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
