.mobileNav {
  top: 4em;
  min-width: 220px;
}

.item, .selectedItem {
  border-radius: .5em;

  &:hover {
    border-radius: .5em;
  }
}

.selectedItem {
   background-color: var(--c-light-blue-menu) !important;
}