.optionsBox {
  margin-bottom: 20px;
}

.cardShadow {
  box-shadow: $(theme.primero.shadows[0]);
}

.cardLink {
  text-decoration: none;
  font-size: $(theme.typography.pxToRem(17));
  font-weight: bold;
  color: #231e1f;
  &:hover {
    color:  $(theme.primero.colors.darkGrey);
  }
}
