
.verifyFormControlRoot {
  padding: 4px;
}

.verifySelectComponent {
  padding: 12px !important;
  border-radius: 4px;
  border-bottom: none;
}

.verifySelectComponentSelect, .verifySelectComponentSelect:focus {
  border-radius: 4px;
}

.verifySelectComponent[aria-expanded="true"], .verifySelectComponent:focus {
  outline: 4px solid rgba(31, 176, 214, 0.4);
}
