<% content_for :breadcrumbs do %>
  <%= t("primero_modules.label") %>
<% end %>

<% content_for :record_sub_nav_controls do %>
  <% if can?(:create, PrimeroModule) %>
    <%= link_to content_tag(:span, t("primero_module.create"), :class => 'create_primero_module'), new_primero_module_path, :class => 'button hollow' %>
  <% end %>
  <%#= render 'exports/button' %>
  <%# TODO: Hiding imports so that QA doesn't get into trouble %>
  <%#= render 'imports/button' %>
<% end %>

<div class="page-content-new row collapse" data-equalizer>
  <div class="large-4 medium-4 columns close-side-tab side-tab-container">
    <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'primero_modules'} %>
  </div>
  <div class="large-8 medium-8 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <%= render partial: 'shared_configuration_resource/table',
                 locals: {objects: @primero_modules,
                          object_class: PrimeroModule,
                          heading_keys: ['primero_module.name', 'description'],
                          properties: ['name', 'description']} %>
    </div>
  </div>
</div>
