<div class="errorExplanation form-errors" id="errorExplanation">
  <p><%= _primero.form_error_messages.form_message %></p>
  <ul>
    <% _.each(errors, function(e) { %>
      <%= e %>
    <% }); %>
  </ul>
</div>