<!-- if by -->
<% if (_.contains(['month', 'year'], m.type)) { %>
<div class="large-3 columns end">
  <label><%= m.display %></label>
  <select name="select-control">
    <% if (m.type == 'month') { %>
      <% _.each(m.options.months, function(month) { %>
        <option><%= month %></option>
      <% }) %>
    <% } %>
    <% if (m.type == 'year') { %>
      <% for (i = new Date().getFullYear(); i > 1900; i--) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    <% } %>
  </select>
</div>
<% } %>
<!-- if range -->
<% if (_.contains(['day', 'week'], m.type)) { %>
<div class="large-6 columns end">
  <div class="row">
    <div class="large-6 columns">
      <label>From</label>
      <input type="text" class="form_date_field" name="date_from_control" />
    </div>
    <div class="large-6 columns">
      <label>To</label>
      <input type="text" class="form_date_field" name="date_to_control" />
    </div>
  </div>
</div>
<% } %>