<div class="row">
  <div class="large-12 columns">
    <div class="filters-selected"></div>
    <div class="open btn green-button right" data-action="open">Filters</div>
  </div>
</div>
<div class="panel container">
  <div class="form-row row">
    <div class="close" data-action="close"><i class="fa fa-close" data-action="close"></i></div>
    <form>
      <h3>Date</h3>
      <div class="row">
        <div class="large-2 columns">
          <label>Filter</label>
          <select id="filter-control" name="filter-control">
            <option value="" disabled selected>Select One</option>
            <option value="day">Day</option>
            <option value="month">Month</option>
            <option value="week">Week</option>
            <option value="year">Year</option>
          </select>
        </div>
        <div class="controls"></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <a class="btn grey-button">Clear</a>
          <a class="btn green-button">Filter</a>
        </div>
      </div>
    </form>
  </div>
</div>