<div class="row">
  <div class="columns small-12 ">
    <% _.each(data, function(field) { %>
      <div class="row data">
        <div class="columns small-5 key">
          <strong><%= field.display_name %></strong>
        </div>
        <div class="columns small-6 value">
          <%= field.value %>
        </div>
      </div>
    <% }); %>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>