<%# TODO - tweak for transfer%>
<% if can?(:transfer, controller.model_class) %>
<li>
  <a data-reveal-id="transfer-modal" href="#">
    <%= t("buttons.transfer") %>
  </a>

  <div id="transfer-modal" class="reveal-modal tiny" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <%= "WORK IN PROGRESS..." %>
  </div>
</li>
<% end %>

