//= require jquery-ui-1.8.6.custom
//= require jplayer.blue.monday
//= require vtip
//= require chosen
//= require popovers
//= require dataTables.responsive
//= require rtl
//= require superfish
//= require jquery.mCustomScrollbar
//= require jquery.lightbox-0.5
//= require datepicker