//= require jquery-ui-1.8.6.custom
//= require jplayer.blue.monday
//= require vtip
// require new/new_core
// require core
//= require chosen
//= require global
//= require font-awesome
//= require primero.dataTables
