////////////////////////////////////////////////
// Imports
////////////////////////////////////////////////

@import "foundation/functions";
@import "compass/css3/images";

////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////

$headline-font-family: libreBaskerville, sans-serif;
$primary-font-family: libreBaskerville, sans-serif;
$secondary-font-family: libreBaskerville, sans-serif;

$base-font-size: 16px;
$rem-base: $base-font-size;


////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////

$grey_color: #474747;
$green_color: #7dae37;
$red_color: #8d0000;
$white_color: #f7f7f7;

////////////////////////////////////////////////
// General
////////////////////////////////////////////////

$body-bg: $white_color;
$body-font-color: $grey_color;
$body-font-family: $secondary-font-family;

$secondary-bg: $grey_color;

$button-font-color: $green_color;

////////////////////////////////////////////////
// Foundation - Topbar overrides
////////////////////////////////////////////////
$nav_height: 50px;
$topbar-height: $nav_height;
$topbar-link-color: #fff !important;


////////////////////////////////////////////////
// Import Foundation!
////////////////////////////////////////////////
@import "foundation";
