.StackedPercentageBarContainer {
  padding: 1rem;
  width: 100%;
}

.StackedPercentageBar {
  position: relative;
  width: 100%;
  height: 2rem;
  min-width: 14rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--c-light-grey);
}

.StackedPercentageBar1Complete {
  display: inline-block;
  height: 100%;
  background-color: var(c-blue);
}

.StackedPercentageBar2Complete {
  display: inline-block;
  height: 100%;
  background-color: var(--c-light-blue-rgba)
}

.StackedPercentageBarLabels {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 14rem;
}

.StackedPercentageBarLabelContainer {
  min-width: 9rem;
  padding-left: 0.5rem;
}

.StackedPercentageBarLabel { }

.StackedPercentageBarLabelPercentage {
  margin: .5rem 0 0 0;
}
