.formTitle {
  display: flex;
  background: $(theme.primero.colors.stickyGrey);
  position: sticky;
  top: 0;
  z-index: 99;
  align-items: center;
  margin-bottom: 3em;
}

.formHeading {
  color: $(theme.primero.colors.solidBlack);
  font-weight: bold;
  text-transform: uppercase;
  font-size: $(theme.typography.pxToRem(22));
}

.panel {
  box-shadow: 0 1px 7px 0 rgba(125, 125, 125, 0.23);
  margin-bottom: 2px;

  &:before {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.titleHeader {
  font-family: $(theme.typography.fontFamily);
  font-size: $(theme.typography.pxToRem(15));
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $(theme.primero.colors.blue);
  margin-right: 1em;
}

.titleSubHeader {
  font-family: $(theme.typography.fontFamily);
  font-size: $(theme.typography.pxToRem(11));
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2;
  color: $(theme.primero.colors.solidBlack);
}

.expandIcon {
  box-shadow: none;
  color: $(theme.primero.colors.black);
  margin-left: 5px;
  width: 36px;
  height: 36px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.alerts {
  margin-bottom: 10px;
}

.buttonsActions {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: .5em;
}

.buttonsActions > button {
  margin-bottom: 0.5em;
}

@media $(theme.breakpoints.down("sm")) {
  .titleHeader {
    font-size: $(theme.typography.pxToRem(12));
  }

  .titleSubHeader {
    line-height: 1.27;
  }
}
