<%# Copyright (c) 2014 - 2023 UNICEF. All rights reserved. %>

<% locale_email = @resource&.locale || I18n.locale %>
<h1><p><%= t('user.password_reset.email_greeting', full_name: @resource.full_name, locale: locale_email) %></p></h1>
<p><%= t('user.password_reset.email_body1', host_href: link_to(nil, root_url), locale: locale_email).html_safe %></p>
<p><%= link_to(nil, password_reset_url(reset_password_token: @token)) %></p>
<%
  hours = Devise.reset_password_within.to_i / 3600
  reset_request_href = link_to(t("user.password_reset.email_body_link", locale: locale_email), password_reset_request_url)
%>
<p><%= t('user.password_reset.email_body2', hours: hours, reset_request_href: reset_request_href, locale: locale_email).html_safe %></p>
