<h1><p><%= t('user.password_reset.email_greeting', host: root_url) %><p></h1>
<% reset_href = link_to(t("user.password_reset.email_body_link"), edit_password_url(@resource, reset_password_token: @token)) %>
<p><%= t('user.password_reset.email_body', reset_href: reset_href).html_safe %></p>
