<<p><%= t('devise.mailers.greeting', email: @resource.email) %></p>

<p><%= t('devise.mailers.reset_password_instructions.body_1') %></p>

<p><%= link_to t('devise.mailers.reset_password_instructions.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailers.reset_password_instructions.body_2') %></p>
