<p lang="<%= @alert_notification.locale || I18n.locale %>">
    <%= t("email_notification.alert",
        record_type: @alert_notification.record_type_translated,
        id: link_to(@alert_notification.record.short_id, url_for_v2(@alert_notification.record)),
        form_name: @alert_notification.form_section_name_translated,
        locale: @alert_notification.locale
    ).html_safe %>
</p>