<%# Copyright (c) 2014 - 2023 UNICEF. All rights reserved. %>

<p lang="<%= @approval_notification.locale %>">
    <%= t(
        'email_notification.approval_response_html',
        user: @approval_notification.manager.user_name, status: @approval_notification.approval.downcase,
        approval_type: @approval_notification.approval_type&.downcase,
        case_id: link_to(@approval_notification.child.short_id, url_for_v2(@approval_notification.child)),
        locale: @approval_notification.locale
    ).html_safe
    %>
</p>
