:global(.PhoneInput) {
  width: 100%;
}

:global(.PhoneInputInput) {
  width: 100%;
}

.searchContainer {
  background-color: var(--c-white);
  padding: 10px;
  margin-bottom: 10px;
}

.searchContainerFullWidth {
  background-color: var(--c-white);
  margin-bottom: 10px;
}

.searchBoxContainer {
  display: flex;
  margin-bottom: 5px;
  align-items: center;

  & input {
  padding: 6px;
  }
}

.searchActions {
  & button {
    min-width: auto;
    padding: 6px 0 8px 10px;
    margin-left: 4px;
  }
}

.phoneNumberError {
  color: var(--c-tia-maria);
  font-size: var(--fs-12);
  margin: 5px 0;
}

.phoneNumberWarning {
  border-color: var(--c-tia-maria) !important;
}

.searchHelpText {
  color: var(--c-mid-grey);
  margin: 0;
  font-size: var(--fs-12);
  & svg {
    color: var(--c-gold-yellow);
    height: var(--fs-12);
    width: 0.5em;
  }

  & span {
    padding-left: 5px;
  }
}

.searchHelpTextNoPhonetic {
  & svg {
    color: var(--c-mid-grey);
  }
}

.searchInputContainer {
  border-radius: 6px;
  background-color: var(--c-white);
  border: 1px solid var(--c-mid-grey);
  height: 34px;
  align-items: center;
}

.searchContainerFullWidth {
  width: 100%;
  margin: 0;
}

.searchInput {
  width: 100%;
  flex: 1;

  & input {
    width: 100%;
    padding: 0 6px;
  }
}

.label {
  & span {
    font-weight: 700 !important;
    color: var(--c-black);

    & span {
      color: var(--c-dark-grey);
    }
  }
}

.checked {
  color: var(--c-gold-yellow) !important;

  & span {
    color: var(--c-gold-yellow) !important;
  }
}

.checked + .track {
  background-color: var(--c-gold-yellow) !important;
}

.searchLabel {
  font-size: var(--fs-14);
  font-weight: 700;
  margin: 5px 0;
}

.searchTitle {
  font-size: var(--fs-14);
  font-weight: 700;
  margin: 0px 0 5px 0;
}


@media (max-width: 959.95px) {
  .searchActions {
    & button {
      padding: 6px
    }
  }
}