.loginForm {
  padding: 1em 0;

  & h1 {
    font-family: SourceSansPro;
    font-size: var(--fs-30);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--c-black);
  }

  & button {
    padding: .5em 1.75em;
    background-color: var(--c-blue);
    color: var(--c-white);
    margin-top: 20px;

    &:hover {
      background-color: var(--c-blue)c7;
    }
  }

  & .recoveryLink {
    margin-top: 1.5em;

     & a {
      text-decoration: none;
      color: var(--c-blue);
    }
  }
}

.loginContainer {
  & header, & form {
    margin-bottom: 1em;
  }
}

.forgotPaswordLink {
  margin: 10px 0 0 0;
}

@media (max-width:599.95px) {
  .loginForm {
    & button {
      width: 100%;
    }
  }
}
