.cell {
  display: flex;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  & > div { 
    display: flex;
    flex: 1;
    padding: 10px;
  }

  & > div:first-of-type {
    border-right: 1px solid #ddd;
  }
}

.radioButtons {
  display: flex;
  align-items: center;
  margin: 0 1em 0 0;

   & svg {
     margin: 0 .2em 0 0;
   }
}