.defaultActionButton, .onlyText {
  background-color: var(--c-blue);
  border-radius: 24px;
  color: var(--c-white);
  height: 35px;
  padding: 0 15px;
  margin-right: 5px;

  &:hover {
    color: var(--c-black);
  }
}

.outlined {
  border: 1px solid var(--c-blue);
  color: var(--c-blue);
  background: var(--c-white);
  font-weight: bold;

  &:hover {
    color: var(--c-white);
    border: 1px solid var(--c-blue);
    background: var(--c-blue);
  }
}

.isTransparent {
  color: var(--c-grey);
  background-color: transparent;
}

.isCancel {
  background: var(--c-grey);
}

.isDisabled {
  cursor: not-allowed;
}

.buttonProgress {
  position: absolute;
  margin-top: 6px;
  margin-left: -55px;
}

@media (max-width:959.95px) {
  .defaultActionButton {
    min-width: 3em;
    padding: 0 15px;

    & span {

      & span {
        margin: 0;
      }
    }
  }
  .buttonProgress {
    margin-left: -32px;
  }
}
