.defaultActionButton {
  background-color: $(theme.primero.colors.blue);
  border-radius: 24px;
  color: $(theme.primero.colors.white);
  height: 35px;
  padding: 0 15px;
  margin-left: 5px;

  &:hover {
    color: $(theme.primero.colors.black);
  }
}

.isTransparent {
  background-color: transparent;
}

.isCancel {
  background: $(theme.primero.colors.grey);
}

.buttonProgress {
  position: absolute;
  margin-top: 6px;
  margin-left: -55px;
}

@media $(theme.breakpoints.down("sm")) {
  .defaultActionButton {
    min-width: 3em;
    border-radius: 50%;
    padding: 0;
    
    & span {

      & span {
        margin: 0;
      }
    }
  }
  .buttonProgress {
    margin-left: -32px;
  }
}
