.TablePercentageBar {
  position: relative;
  width: 100%;
  height: 0.75rem;
  text-align: right;
}

.TablePercentageBarComplete {
  display: inline-block;
  height: 100%;
  border-radius: 1rem;
  vertical-align: top;
}

.filledColor {
  background-color: blue;
}

.emptyColor {
  background-color: grey;
}
