.tableRowSubHeader  {
  & th {
    border-right: 1px solid var(--c-light-grey-2);
  }
}

.tableRowHeader {
  & th:not(:first-child) {
    background-color: var(--c-light-grey);
    font-weight: bold;
    border-left: 1px solid var(--c-light-grey-2);
  }

  & th:last-of-type {
    border-right: none;
  }
}

.borderHeadingRight {
  border-right: 1px solid var(--c-light-grey-2);
}
