.container {
  display: flex;
}

.nav {
  width: 195px;
  padding-right: 1em;
}

.content {
  flex: 1;
}

.nestedItem {
  padding: 0 1em;
  font-size: 0.875rem;
}

.showActionButton {
  background-color: $(theme.primero.colors.blue);
  border-radius: 24px;
  color: $(theme.primero.colors.white);
  width: 8em;
  height: 32px;
  margin-left: 10px;

   &:hover {
    color: $(theme.primero.colors.black);
  }
}


@media $(theme.breakpoints.down("sm")) {
  .showActionButton {
    width: 0;
  }
}
