////////////////////////////////////////////////
// Alert box
////////////////////////////////////////////////

.callout {
  margin-bottom: .5rem !important;
}

.flash {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  background-color: #FFF;

  &.subform_message {
    background-color: transparent;
    margin: 0 auto;
  }

  p {
    padding: 5px;
    margin-bottom: 0;
    font-size:14px;
    &.error {
      color: $red_color;
      border: 1px solid $red_color;
    }
    &.notice {
      color: $grey_color;
      border: 1px solid $green_color;
    }
  }
}

.flag_icon {
  background: url(image_path("flag.png")) no-repeat;
  width: 40px;
  height: 23px;
  position: relative;
  font-size: 0.75rem;
  color: #fff;
  padding: 3px 0 0 3px;

  @if $global-text-direction == rtl {
    float: left;
    padding: 2px 6px 0;
    text-align: left;
  }  @else {
    float: right;
  }
}

#dialog {
  display: none;
}