////////////////////////////////////////////////
// Alert box
////////////////////////////////////////////////

.alert-box {
  margin-bottom: .5rem !important;
}

.flash {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  background-color: #FFF;
  p {
    padding: 5px;
    margin-bottom: 0;
    font-size:14px;
    &.error {
      color: $red_color;
      border: 1px solid $red_color;
    }
    &.notice {
      color: $grey_color;
      border: 1px solid $green_color;
    }
  }
}

.flag_icon {
  width: 30px;
  padding: 3px 5px;
  font-size: 2rem;
  color: $green_color;
  position: relative;
  margin: -10px 0 0 10px;
  float: left;
  

  span {
    float: left;
    font-size: $thirteen_px;
    color: #fff;
    z-index: 99;
    position: absolute;
    margin-top: 6px;
  }

  i {
    float: left;
    position: absolute;
    z-index: 5;
  }
}