////////////////////////////////////////////////
// Thumb gallery/Audio player
////////////////////////////////////////////////

.thumbnail {
  float: left;
  margin: 1px;

  input {
    float: left;
    margin: 94px 12px 0 0;
  }

  label {
    margin: 90px 12px 0 0;
    float: left;
  }
}

.jp-audio {
  margin: 0 !important;
}

.jp-interface {
  margin-top: 20px;
}

.audio_player_section {
    .audio {
        .delete_check_box {
            label {
                display: inline-block;
            }
            input {
                display: inline-block;
            }
        }
    }
}

.audio {
  audio {
    display: none;
  }
}

/*Only for IE10: We are not showing the jplayer progress bar on IE10 since it is not working.*/
@media screen and (min-width:0\0) {
 .jp-audio {
    .jp-interface {
      .jp-progress {
        display: none;
      }
    }
  }
}