////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////

.green-button {
  color: $green_color !important;
  border: 1px solid $stroke_green_color !important;
  font-family: 'Roboto-Medium', sans-serif !important;
  font-size: $thirteen_px !important;
  text-transform: uppercase;
  height: 37px;
  $padding: 0.5rem;
  $radius: false;
  $full-width: false;
  $disabled: false;
  $is-input: false;
  $bg: $desat_green_color;
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}


.grey-button {
  color: $grey_color !important;
  border: 1px solid $grey_color !important;
  font-family: 'Roboto-Medium', sans-serif !important;
  font-size: $thirteen_px !important;
  text-transform: uppercase;
  $padding: 0.5rem;
  $radius: false;
  $full-width: false;
  $disabled: false;
  $is-input: false;
  $bg: #ebebeb;
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}

.grey-button, .green-button {
  text-decoration: none !important;
}

.import_button {
  width: 200px; 
  float: right;
}

////////////////////////////////////////////////
// Dropdown Buttons
////////////////////////////////////////////////

.dropdown_btn {
  .green-button {
   margin: 0;
  }

  .dropdown {
    background: $desat_green_color;
    position: absolute;
    z-index: 998;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;

    ul {
      list-style-type: none;
      margin-left: 0;

      li {
        border-bottom: 1px dashed #ccc !important;
        padding: 2px;
        font-size: $thirteen_px;

        span {
          font-size: .7rem;
          color: $light_grey_color;
        }
      }
    }

    label {
      font-family: 'Roboto-Medium', sans-serif;
      font-size: $thirteen_px;
    }

    .add_flag_form {
      height: 80px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 5px;
    }

    i.remove_flag {
      font-size: 1rem;
      color: $grey_color;
    }

    input.flag_submit {
      margin-top: 19px;
      padding: 0 5px  !important;
    }

    .remove_flag_record_container {
      margin: 15px 0;
    }
  }
}