////////////////////////////////////////////////
// Form Customization
////////////////////////////////////////////////

.custom_forms {
  // TODO - Add styling for Form Customization

  ul{
    list-style-type: none;
    padding: 0;
    li{
      padding: 10px 15px;
    }
    li.hidden_form a {
      // TODO - This is temporary.
      // Feel free to come up with better styling to indicate hidden forms
      color: $red_color;
    }
  }
}