$dashboard_table_col1:166px;
$dashboard_table_col2:220px;
$dashboard_table_col3:170px;
$dashboard_table_col4:170px;
$dashboard_table_col5:100px;
$dashboard_table_col6:100px;
$dashboard_table_counts:85px;

#dashboard {
  .dashboard-group {
    margin-bottom: 3em;

    > .panel {
      margin-top: 3em;
    }
  }

  .stats_inline {
    font-size: .9rem;
    margin-top: .4em;

    .column.shrink {
      align-items: center;
      display: flex;
    }

    h5 {
      font-weight: bold;
      font-size: .9rem;
      margin-bottom: 0;
    }

    .section-stat-detailed {
      .column.shrink {
        padding-left: .2em !important;
      }

      .label {
        font-size: 0.7rem;
        padding: .35rem;
      }
    }
  }

  h4.stat_heading {
    text-align: center;
    border-bottom: 1px solid $stroke_green_color;
    font-size: 1.4em;
    padding-bottom: .8em;
    margin-bottom: 0;
    margin-top: 1.5em;

    &:first-of-type {
      margin-top: 0;
    }

    span {
      font-size: .7em;
      color: $green_color;
    }
  }

  h5.stat_heading {
    font-size: 1em;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    padding-bottom: .5em;
    margin: 2em 0 0.8em;
    text-indent: 1.6em;
  }

  .admin_only_info {
    font-size: 1.3em;
  }

  a.section-stat, div.section-stat {
    text-align: center;
    text-decoration: none;
    padding: 1em 0;
    height: rem_calc(115);
    display: flex;
    justify-content: center;

    &:hover {
      background: rgba(0, 0, 0, .04);
    }

    .stat {
      color: $green_color;
      text-align: center;
    }

    p {
      font-size: .8rem;
      margin-bottom: 0;
    }
  }

  .section-stat-detailed {
    font-size: 1.4em;
    color: $green_color;

    .column {
      @if $global-text-direction == rtl {
        padding-left: 0;
      }  @else {
        padding-right: 0;
      }
    }

    span {
      font-size: .6em;
      color: #575757;
    }

    .label {
      background: none;
      border: 1px solid $stroke_green_color;
      color: $green_color;
      align-self: center;
    }

    a .label {
      cursor: pointer;
    }

    a, .no_link {
      text-decoration: none;
      display: flex;
      padding: .2em .5em;
      color: $green_color;

      .count {
        @if $global-text-direction == rtl {
          margin-left: .5em;
        }  @else {
          margin-right: .5em;
        }
      }

      span {
        color: #575757;
      }

      &:hover {
        background: rgba(0, 0, 0, .04);
      }
    }
    ul {
      margin: 0;
      display: inline-flex;

      li {
        a, .no_link {
          align-items: center;

          span {
            @if $global-text-direction == rtl {
              margin-right: .8em;
            }  @else {
              margin-left: .8em;
            }
          }
        }

        &.additional-detail {
          position: relative;

          &:after {
            content: "/";
            padding: .2em .1em;
            position: absolute;
            right: -7px;
            top: 0;
            color: #575757;
          }

          @if $global-text-direction == rtl {
            &:only-child, &:first-child {
              &:after {
                content: "";
              }
            }
          } @else {
            &:only-child, &:last-child {
              &:after {
                content: "";
              }
            }
          }
        }
      }
    }
  }

  .panel {
    border: 1px solid $stroke_green_color;
    background: #fff;
    margin-bottom: 1em;

    .panel_content {
      padding: 0px 10px 10px 10px;

      .no-content {
        padding: 10px;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: #999;
        text-align: center;
      }
    }

    .panel_xl .no-content {
      font-size: 0.8rem;
    }

    .panel_header {
      h4 {
        font-size: $fifteen_px;
        font-family: 'Roboto-Medium', san-serif;
        background: $light_green_color;
        margin-top: 0;
        padding: 10px;
        color: $green_color;
        text-transform: uppercase;
        border-bottom: 1px solid $stroke_green_color;
      }

      .table-floating-header {
        @if $global-text-direction == rtl {
          padding-right: 0;
        }  @else {
          padding-right: 15px;
        }

        border-bottom: 1px solid $stroke_green_color !important;

        thead th {
          border-bottom: none !important;
        }
      }
    }

    .no-padding {
      padding: 0 !important
    }

    &.panel_main {
      height: 632px;
      overflow: hidden;
    }

    a.stat_link, .stat_link {
      display: inline;
      color: $green_color;
      font-size: 1.2rem;
    }

    .stat_title {
      text-transform: uppercase;
      margin: 10px 0;
      font-weight: 600;
      font-size: 0.8rem;
      color: $green_color;
    }

    .panel_no_table {
      height: auto;
      overflow: visible;
      font-size: $thirteen_px;

      .stat_title {
        border-bottom: 1px dashed $stroke_green_color;
        margin: 10px;
      }

      > div:not(.stat_title) {
        border-bottom: 1px dashed #ccc;

        div:not(.stat_link) {
          padding: 0 10px;

          span {
            font-weight:600;
            font-size: .9rem;
            color: #000;
          }
        }
      }

      > div:not(.stat_title):last-child {
        border-bottom: none;
      }

      .scrollable {
        height: 140px;
        overflow: hidden;
      }

      .single_stat {
        margin-top: 10px;
      }
    }
  }

  #content {
    width:748px;

    .panel {

      .panel_header h4 {
        margin-bottom: 0;
      }
    }

    table.table-counts {
      table-layout: fixed;

      th:not(:first-child), td:not(:first-child) {
        width: $dashboard_table_counts !important;
      }

      th:first-child, td:first-child {
        width: 200px !important;
      }
    }

    table {
      border: none;
      margin-bottom: 0;

      &.dashboard_counts {
        div {
          margin: 5px 0;
        }

        a {
          border-bottom: 1px solid $stroke_green_color;

          &:hover {
            text-decoration: none;
            background: #ebebeb;
          }
        }

        span {
          font-weight:600;
          font-size: .9rem;
          color: #000;
        }
      }



      a.id_link{
        text-decoration: none;

        @if $global-text-direction == rtl {
          float: right;
        }  @else {
          float: left;
        }

        &:hover{
          font-weight:bold;
        }
      }

      thead {
        background: none;

        th:nth-child(1) {
          width:$dashboard_table_col1;
        }

        th:nth-child(2) {
          width:$dashboard_table_col2;
        }

        th:nth-child(3) {
          width:$dashboard_table_col3;
        }

        th:nth-child(4) {
          width:$dashboard_table_col4;
        }

        th:nth-child(5) {
          width:$dashboard_table_col5;
        }

        th:nth-child(6) {
          width:$dashboard_table_col6;
        }

        th {
          border-bottom: 1px solid $stroke_green_color;
          border-right: 1px solid $stroke_green_color;
          text-transform: uppercase;
          color: $green_color;
          font-size: 'Roboto-Medium', sans-serif;
          font-size: .75em;

          @if $global-text-direction == rtl {
            &:first-of-type {
              border-right: none;
            }
          } @else {
            &:last-of-type {
              border-right: none;
            }
          }

          &.id_column{
            min-width: 105px;
          }

          span {
            float: left;
            font-size: .6rem;
            color: $grey_color;
            width: 100%
          }
        }
      }

      tbody {
        td:nth-child(1) {
          width:$dashboard_table_col1;
        }

        td:nth-child(2) {
          width:$dashboard_table_col2;
        }

        td:nth-child(3) {
          width:$dashboard_table_col3;
        }

        td:nth-child(4) {
          width:$dashboard_table_col4;
        }

        td:nth-child(5) {
          width:$dashboard_table_col5;
        }

        td:nth-child(6) {
          width:$dashboard_table_col6;
        }

        tr td {
          border-bottom: 1px dashed #ccc;
          border-right: 1px solid $stroke_green_color;
          word-wrap:break-word;
          word-break: break-all;

          @if $global-text-direction == rtl {
            &:first-of-type {
              border-right: none;
            }
          } @else {
            &:last-of-type {
              border-right: none;
            }
          }

          &.id_column{
            min-width: 105px;
            text-transform: uppercase;
          }
        }

        tr:last-of-type td {
          border-bottom: none;
        }
      }
    }
  }

  #sidebar {
    font-size: $thirteen_px;
    padding: 0;
    width: 225px;
    float: right;

    .more {
      padding: 7px 0 0 0;
      margin: 5px 0 0 0;
      display: block;
      border-top: 1px solid $stroke_green_color;
      text-align: center;
    }

    .scrollable {
      height: 300px;
      overflow: hidden;
      overflow-y: scroll;
    }

    p {
      font-size: $thirteen_px;
      margin-bottom: 0;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;

      @if $global-text-direction == rtl {
        margin-right: 0;
      }

      li {
        border-bottom: 1px dashed #ccc;
        padding: 5px 0;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    a {
      font-size: $thirteen_px;
      font-family: 'Roboto-Medium', san-serif;
    }

    a.uppercase {
      text-transform: uppercase;
    }

    .panel_header {
      h4 {
        font-size: $thirteen_px;
        font-family: 'Roboto-Medium', san-serif;
      }
    }
  }
}

@media only screen and (max-width: 639px) {
  .card-container {
    display: flex;
    flex-direction: column;
    .column{
      flex: 0 1 auto;
      -webkit-flex: 0;
      flex-shrink: 0;
    }
  }
  /*Temporal hack to fix mobile responsive in table dasboards*/
  table.table-counts {
    width: auto;
  }
  #sidebar{
    display: none;
  }

  ul.menu.simple.align-right.links {
    justify-content: flex-end;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;

    li {
      flex: 1 1;
      flex-basis: 150px;
      margin-left: 0px;
      margin-right: 2.5px;
      padding-right: 0px;
      padding-left: 2.5px;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  ul.menu.simple.align-right.links {
    justify-content: flex-end;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;

    li {
      flex: 1 1;
      flex-basis: 150px;
      margin-left: 0px;
      margin-right: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}