////////////////////////////////////////////////
// Forms
////////////////////////////////////////////////

$lg_input_height: 47px;
$lg_input_font_size: 2rem;

input:focus{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: $grey_color !important;
  transition: none !important;
  -webkit-transition: none !important;
}

textarea {
  border: 1px solid $stroke_green_color;
  font-size: $thirteen_px;
}

input[type="text"],
input[type="password"] {
  width:100%;
  color: $grey_color;
  border: 1px solid $stroke_green_color;
  background: #FFF;
  font-size: $thirteen_px;
}

input[type="submit"] {
  width:100%;
  cursor: pointer;
}

select:not([class^="ui-datepicker-"]), select:hover:not([class^="ui-datepicker-"]) {
  border: 1px solid $stroke_green_color;
  background: #fff url(image_path("select_carot.png")) no-repeat;
  background-position: center right 10px;
  color: $grey_color;
  font-size: $thirteen_px;

  &.small {
    height: 1.5rem;
  }
}

.chosen-container-single {
  border: 1px solid $stroke_green_color;
  background: #fff;
  color: $grey_color;
  padding: 8px;
  font-size: $thirteen_px;
}

.chosen-container .chosen-drop {
  border: 1px solid $stroke_green_color;
  border-top: none;
  box-shadow: none !important;

  .highlighted {
    background: $stroke_green_color !important;
  }

  li.active-result {
    font-family: "Roboto", sans-serif;
    font-size: $thirteen_px;
  }
}

.chosen-container-single .chosen-search input[type="text"] {
  border: 1px solid $stroke_green_color !important;
  padding: 4px !important;
}

a.chosen-single {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

input[type="text"][disabled]{
  border: none !important;
  background: transparent !important;
  box-shadow: none;
}

#ui-datepicker-div select {
  height: inherit;
  font-size: .9rem
}

.value_form {
  background: none !important;
}

.section-show {
  border: none !important;
}

.gq_popovers {
  padding: 0;
  font-size: $thirteen_px;
}

p.help {
  background: none !important;
  padding: 0;
  font-size: 0.8rem;
  color: $green_color;
}

.has_help {
  margin-bottom: 2px !important;
}

.popover-content {
  padding: 2px 14px;
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  white-space: pre-line;
}

.summary_group {
  .row:first-of-type {
    padding-left: 0 !important;
  }

  .row {
    padding: 2px 0 !important;
  }

  .postfix {
    font-size: $thirteen_px;
  }

  .tally_item {
    height: 45px;
    padding: 0 2px !important;

    &:last-of-type {
      padding-right: 0 !important;

    }

    &:first-of-type {
      padding-left: 0 !important;

    }
  }
}

////////////////////////////////////////////////
// Fields
////////////////////////////////////////////////

form .row .row, .row .row {
  margin: 0;
}

fieldset {
  .row {
    padding: 1.5rem .5rem .8rem;
    span.value {
      word-wrap: break-word;
      background: $desat_green_color;
      font-size: $thirteen_px;
      padding: 5px;
      min-height: 30px;
    }
  }

  label {
    font-weight: bold;
  }

  .mandate_panel, .form-section-description {
    padding: 10px;
  }

  .errorExplanation {
    background: #FFD8D8;
    padding: 10px;
    border: 1px solid #F76F6F;
    margin: 0 15px 15px 15px;

    h2 {
      font-size: 1.3rem;
    }

    p {
      background: #FFD8D8 !important;
    }

    li.error-item {
      list-style: none;

      span {
        font-weight: bold;
      }
    }
  }

  p {
    -webkit-box-sizing: initial;
    box-sizing: initial;
    padding: 1rem;
    min-height: 1.5rem;
    margin-bottom: 0;
    font-size: 0.9375rem;

    &:nth-child(even) {
      background: #ebebeb;
    }

    label {
      float: left;
      width: 8rem;
      clear: both;
      font-weight: bold;
      height: 2rem;
    }

    input[type="text"], input[type="password"] {
      width: 20rem !important;
      margin: 0;
    }

    span.footnote {
      font-size: 0.8rem;
      margin-left: 8rem;
    }

    span.required {
      float: right;
      color: $red_color;
    }
  }
}

.btn_panel {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 2rem 0 0 2rem;

  a.link_cancel {
    float: left;
    margin-top: .5rem;
  }

  input[type="submit"] {
    float: right;
    width: 8rem;
  }
}

.collapse_expand_subform_header {
  border-top: 1px solid $stroke_green_color;
  padding: 10px 0 20px 0 !important;

  label {
    display: inline;
  }

  span.verification_status {
    margin: 0 10px;
    color: $green_color;
  }
}

.subforms {
  fieldset {
    width: 95%;
    margin-left: 5%;

    .row:nth-child(even) {
      background: none;
    }
  }

  hr {
    background: #ddd;
    height: 1px;
    border: none;
  }

  .header-btn-group {
    height: 35px;
    padding-right: 0;
  }

  .subform_remove {
    float: right;
    margin-right: 10px !important;
  }

  .collapse_expand_subform_header {
    border-top: 1px solid $stroke_green_color;
    padding: 10px 0 20px 0 !important;

    label {
      cursor: default;
      font-family: 'Roboto-Light', sans-serif;
      font-size: $twenty_px;
      text-align: left;
    }

    .display_field {
      display: block;

      span {
        font-weight: normal;
        font-size: $thirteen_px;
      }
    }

    .collapse_expand_subform {
      float: right;
      font-size: 1.5rem;
      cursor: pointer;
      border: 1px solid $stroke_green_color;
      background: $desat_green_color;
      display: block;
      height: 37px;
      width: 37px;
      text-align: center;
      line-height: 2rem;
      color: $green_color;
    }
  }
}

h5.tool-tip-label {

  &:first-of-type {
    margin-bottom: 2rem;
  }

  margin-top: 2rem;

  label {
    font-size: 1.5rem;;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Roboto-Light', sans-serif;
    font-size: $twentyfive_px;

  }
}

fieldset .row:nth-child(even) h5.tool-tip-label span {
  background: #ebebeb;
}

span.section {
  border: 1px solid $stroke_green_color;

  label {
    text-align: left;
  }
}

span.postfix, label.postfix {
  background: #fff;
  border-right: none;
  border-left: 1px solid $stroke_green_color;
  border-color: $stroke_green_color;

  &.total {
    background: #ddd !important;
  }
}

span.postfix_val {
  font-family: 'Roboto-Medium', sans-serif;
  margin-right: 20px;
}

.autosum, .autosum_total {
  border-left: none !important;
}

////////////////////////////////////////////////
// Chosen Field
////////////////////////////////////////////////

.chosen-container-multi {
  .chosen-choices {
    li.search-choice {
      margin: 0.4rem 0rem 0rem 0.35rem;
    }
    li.search-field {
      height: 2.5rem;
      input[type="text"] {
        height: 2rem !important;
      }
    }
  }
}

////////////////////////////////////////////////
// User forms
////////////////////////////////////////////////

fieldset {
  .row {
    .footnote {
      font-size: 0.8rem;
      margin-left: 8rem;
    }

    .required {
      float: right;
      color: $red_color;
    }

    .value {
      color: #666;
      display: block;
      float: left;
      padding-top: 4px;
      width: 100%;

      .section {
        display: block;
        margin-bottom: 20px;
        padding: 10px;

        .title {
          border-bottom: 1px dashed $stroke_green_color;
          color: #333;
          display: block;
          margin-bottom: 5px;
          padding-bottom: 8px;
          font-weight: bold;
        }

        label {
          display: block;
          padding: 3px;
          font-weight: normal;
        }
      }
    }
  }

  .row:nth-child(2n+1) .section {
    background: none repeat scroll 0 0 #fff;
  }
}

////////////////////////////////////////////////
// Form Customization
////////////////////////////////////////////////
li.hidden_form a {
  color: $red_color;
}
