////////////////////////////////////////////////
// Header Sections
////////////////////////////////////////////////

.header_section {
  margin-top: 20px;

  h2 {
    font-size: 1.25rem;
    margin-top: 10px;

    a {
      margin-left: 0;
    }
  }

  a {
    color: $green_color;
    padding: 5px 0;
  }

  .panel {
    text-align: center
  }

  .header_message{
    border: 1px solid $green_color;
    background: #FFF;
    margin-bottom: 10px;
    padding: 10px 0px;

    p {
      font-size: $thirteen_px;
    }

    strong {
      font-size: $fifteen_px;
      font-family: 'Roboto-Medium', sans-serif;
    }

    h3 {
      font-size:  0.875rem;
      margin-bottom: 1px;
      text-align: center;
    }
  }

  .inline-list {
    margin: 0 0 1.5rem 0;

    li {
      margin-right: 1rem;

      a {
        padding: 5px 10px;
        font-size: 0.875rem;
      }
    }

    > li > * {
      display: inline;
    }
  }
}
