////////////////////////////////////////////////
// Histories
////////////////////////////////////////////////

.profile-header, .profile-tools {
  margin-top:10px;
  height: 320px;
  overflow: hidden;
  overflow-y: scroll;

  ul{
    list-style-type: none;
    padding: 0;
    li{
      padding: 10px 15px;
      &:nth-child(even) {
        background: #ebebeb;
      }
    }
  }
}
