////////////////////////////////////////////////
// Navbar
////////////////////////////////////////////////

.contain-to-grid {
  height: $nav_height;
  z-index: 990;
}

.top-bar {
  .quicksearch {
    border-left: 1px solid $white_color;
  }

  text-transform: uppercase;
  a {
    color: $white_color;

    &:hover {
      text-decoration: none;
    }

    &.current {
      background: $white_color !important;
      color: $grey_color !important;
      border-top: 1px solid #333;
    }
  }

  button {
    font-size: 1.5rem;
    padding-right: .5em;
    padding-left: .5em;
    width: 100%;
  }

  input, button {
    top: 0;
    height: $nav_height;
    background: $light_grey_color;
    border: none;
    color: #fff;

    &:first-child {
      border-right: 1px solid $desat_green_color;
    }

    &:focus {
      background: $grey_color;
      color: #fff;
    }
  }

  ::-webkit-input-placeholder {
     color: #fff;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #fff;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #fff;
  }

  :-ms-input-placeholder {
     color: #fff;
  }

  .top-bar-section .has-form {
    padding: 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .top-bar-section .has-form {
    input#query {
      width: 11em;
    }

    button {
      width: 1.2em;
    }
  }
}

nav {
  ul {
    font-size:  $fifteen_px;
    list-style-type: none;
    font-weight: normal;

    li {
      display: inline-block;

      &:last-child {
        padding-right:0;
      }

      &:first-child:not(.has-form) {
        border-left: solid 1px $light_green_color;
      }

      &:not(.has-form) {
        border-right: solid 1px $light_green_color;
      }

      &.hash-form {
        border-right: none;
      }
    }
  }
  form {
    display: inline;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.85rem;
  &:hover {
    background: $green_color;
  }
}
