////////////////////////////////////////////////
// Page
////////////////////////////////////////////////

.page {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.3);
  padding:20px;
  &.content {
    padding: 20px;
  }
}

.page_content {
  margin:0 auto;
}

.page-content {
  width: 800px;
  padding:30px 0 0 0;
  margin: 0px auto;

  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.8rem;
    margin-bottom: 1.8rem;
  }

  table {
    width: 100%;
  }
}

fieldset.no-border {
  border: none !important;
  padding: 0 !important;
}

ul.inline-list {
  font-size: 1.2rem;
}

table {
  background: none;
}

table.list_view, table.record_list_view {
  border:none;
  margin-bottom: 20px;
  a.id_link{
    float: left;
    text-decoration: none;
    &:hover{
      font-weight:bold;
    }
  }
  tr{
    line-height:1.3rem;
    &.table_row:nth-child(5n+1) td{
      padding-bottom:20px;
    }
    th{
      text-align: left;
      font-size:1.0rem;
      padding-bottom:10px;
      border-bottom: 1px solid $stroke_green_color;
      &.id_column{
        min-width: 105px;
      }
    }
    td {
      font-size: 0.875rem;
      &.id_column{
        min-width: 105px;
        text-transform: uppercase;
      }
      &.sorting_1 {
        background: rgba(134,160,93,.15);
      }
    }
  }
}

table.record_list_view {
  tr td.photo {
    text-align: center !important;
  }

  table.record_list_view tr td:nth-child(2) {
    text-transform: uppercase;
  }
}

table tr:nth-of-type(even) {
  background: $desat_green_color !important;
}

table:not(.record_list_view) tr td {
  background: #fff;
}

.show_count {
  margin-bottom: 10px;
}

.table_spacer {
  height: 60px;
}

.filter_bar {
  margin-top: 2rem;
}

hr {
  margin-bottom: 0;
  background: #bbb;
  height: 1px;
  border: none;
}

.btn_panel {
  a {
    margin-left: 2rem;
  }
}

.separator {
  margin-bottom: 20px;
  font-family: 'Roboto-Light', sans-serif;
  font-size: $twentyfive_px;
}

.tab {
  display: none
}


////////////////////////////////////////////////
// Panel
////////////////////////////////////////////////

.panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
}