////////////////////////////////////////////////
// Page
////////////////////////////////////////////////

.page {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.3);
  padding:20px;
  &.content {
    padding: 20px;
  }
}

.hide_element {
  display:none;
}

ul {
  list-style: none;
}

.page_content {
  margin:0 auto;
}

.no-padding-left {
  @if $global-text-direction == rtl {
    padding-right: 0;
  } @else {
    padding-left: 0;
  }
}

.page-content {
  width: 800px;
  padding:30px 0 0 0;
  margin: 0px auto;

  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.8rem;
    margin-bottom: 1.8rem;
  }

  table {
    width: 100%;
  }
}

.error label, .error label.error {
  color: #b50904 !important;
}

small {
  .error {
    background: none !important;
    color: #b50904 !important;
    font-style: normal !important;

    &:before {
      content: "\26A0";
      font-size: 1.2rem;
      color: #333;
      position: absolute;
      margin: 0 0 0 -25px
    }
  }

  &.scope_label {
    text-transform: uppercase;
  }
}

#idleModal {
  h5 {
    font-weight: 900
  }
}

fieldset {
  background: $desat_green_color;
  border: 1px solid $stroke_green_color;

  &.no-border {
    border: none !important;
    padding: 0;
    background: none !important;
  }
}

ul.inline-list {
  font-size: 1.2rem;
}

table {
  background: none;
}

table.list_view, table.list_table, table.list_table_2, table.record_list_view {
  border:none !important;
  margin-bottom: 20px;

  a.id_link{
    @if $global-text-direction == rtl {
      float: right;
    }  @else {
      float: left;
    }

    text-decoration: none;

    &:hover{
      font-weight:bold;
    }
  }
  tr{
    line-height:1.3rem;
    &.table_row:nth-child(5n+1) td{
      padding-bottom:20px;
    }
    th{
      text-align: left;
      font-size:1.0rem;
      padding-bottom:10px;
      border-bottom: 1px solid $stroke_green_color;
      &.id_column{
        min-width: 105px;
      }
    }
    td {
      ul li {
        font-size: 0.875rem !important;
      }

      font-size: 0.875rem !important;
      &.id_column{
        min-width: 105px;
        text-transform: uppercase;
      }
      &.sorting_1 {
        background: rgba(134,160,93,.15);
      }
    }
  }
}

table.record_list_view {
  tr td.photo {
    text-align: center !important;
  }

  table.record_list_view tr td:nth-child(2) {
    text-transform: uppercase;
  }
}

table tr:nth-of-type(even) {
  background: $desat_green_color !important;
}

table:not(.record_list_view) tr td {
  background: #fff;
}

.show_count {
  margin-bottom: 10px;
}

.table_spacer {
  height: 60px;
}

.filter_bar {
  margin-top: 2rem;
}

hr {
  margin-bottom: 0;
  background: #bbb;
  height: 1px;
  border: none;
}

.btn_panel {
  a {
    margin-left: 2rem;
  }
}

.separator {
  margin: 10px 0 0 10px;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 1.463rem;
}

.placeholder_text {
  text-align: center
}

.space {
  height: 30px;
}

.spacer {
  height: 50px;
}

.tab {
  display: none
}

.contact_and_information {
  padding: 20px;
}

table.dataTable {
  thead tr th.select_record,
  tbody tr td.select_record {
    text-align: center;
    input[type="checkbox"] {
      margin: 0;
    }
  }
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  border: 2px solid white;
  text-align: center;
  line-height: 12px;
  content: '+';
  background-color: #f9faf6;
  border: 0.08em solid #aec687;
  color: #86a05d;
  box-shadow: none;
  border-radius: 0px;
}

table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  content: '-';
  background-color: inherit;
  line-height: 14px;
}

.side-tab-content.no-side-bar {
  border-left: 1px solid $stroke_green_color;
}

.reveal .side-tab-content-container {
  width: 688px;
}

.reveal {
  background: $desat_green_color;

  .close-reveal-modal {
    color: $stroke_green_color;
  }

  .has_form {
    margin-top: 1em;
  }
}

.reveal {
  background: $desat_green_color;

  fieldset {
    padding: rem_calc(10);
    margin-bottom: 1em;
  }

  form {
    margin-top: 2em;
  }

  .close-button {
    color: $stroke_green_color;
    outline: none;
  }
}

.modal-content {
  margin-bottom: 10px;
}

.loading-screen {
  display: none;

  .ls-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    left: 0;
  }

  .ls-icon {
    position: fixed;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    i {
      font-size: 6rem;
      color: rgba(255,255,255,.7);
    }
  }
}

/* This is interfereing with the spinning icon overlaying the modals. */
/*.reveal-modal {
  z-index: 99999;
}

.reveal-modal-bg {
  z-index: 9999;
}*/

////////////////////////////////////////////////
// Panel
////////////////////////////////////////////////

.panel {
  background: #f5f5f5;
  border: 1px solid #ccc;

  &.record_status p {
    line-height: 1.1rem;
  }
}

////////////////////////////////////////////////
// Jquery UI Popups
////////////////////////////////////////////////

.ui-dialog .ui-dialog-content {
  overflow: visible;
  margin-bottom: 20px;
}

.ui-corner-all {
  border-radius: 0px;
}

////////////////////////////////////////////////
// Form Section Customization
////////////////////////////////////////////////

.lang_title  {
  font-weight: bold;
  span {
    color: #777;
    font-weight: normal;
  }
}

div.db_name {
  margin-top: 0.4rem;
  font-size: 0.8125rem;
}

.translation {
  border-top: 1px solid $stroke_green_color;
  padding-top: 20px;

  .translation_forms {
    border-top: 1px dashed $stroke_green_color;
    padding-top: 20px;
  }
}

.form_info {
  font-size: .95rem;
  font-weight: lighter;
  line-height: 26px;
}

.side-tab-content hr {
  background: none;
  border-bottom: 1px solid $stroke_green_color;
}

@if $global-text-direction == rtl {
  table.in_content_area tbody tr td:first-child, table.in_content_area thead th:first-child {
    border-right: none !important;
  }

  table.in_content_area tbody tr td:last-child, table.in_content_area thead th:last-child {
    border-left: none !important;
  }
} @else {
  table.in_content_area tbody tr td:first-child, table.in_content_area thead th:first-child {
    border-left: none !important;
  }

  table.in_content_area tbody tr td:last-child, table.in_content_area thead th:last-child {
    border-right: none !important;
  }
}

tr td span {
  font-size: .75rem;
  color: #777;
}

.sidebar_help {
  text-transform: uppercase;
  font-size: .8rem;
  color: #777;
  width: 230px;
  margin: 0 0 0 45px;
}

.section_seperator {
  border-top: 1px dashed $stroke_green_color;
  padding-top: 20px;
}

.reveal .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

#referral-modal, #transfer-modal{
  small {
    font-size: 75%;
    color: #777;
  }

  label {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: .78rem;
    font-weight: bold;
  }
}

.back-button {
  padding-left: 5px !important;
}

.app-error {
  border: 2px solid $stroke_green_color;
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 2%;

  .message {
    font-weight: 900;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-align: center;
    line-height: 3rem;
  }

  .status {
    text-align: center;
    font-weight: 900;
    border-top: 1px solid $stroke_green_color;
    padding-top: 1rem;
    font-size: 6rem;
    line-height: 6rem;
    color: #1694b7;
  }

  .error {
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    color: #999;
    padding-bottom: 1rem
  }

  .directions {
    text-align: center;
    font-size: .95rem;
    padding-bottom: 1rem;
  }

  .return {
    text-align: center;
    font-size: .95rem;
    border-top: 1px solid $stroke_green_color;
    padding-top: 1rem;
  }
}

#connectivity-message {
  text-align: center;
  height: 3.15em;
  padding-top: .7em;
  background: #ff797f;
  color: #fff;
  bottom: 0;
  font-weight: 600;
  opacity: .95;
  position: absolute;
  width: 100%;
  z-index: 99999999;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.25 !important;
  cursor: not-allowed !important;
}
