////////////////////////////////////////////////
// Potential Match
////////////////////////////////////////////////

.pm_div {
  border: 1px $green_color solid;
  margin-bottom: 20px;
  .pm_table {
    border-spacing: 0px !important;
    margin-bottom: 0em !important;
    border: none;
    transition: 300ms ease-out;
    .id_column {
      text-transform: uppercase;
      &:hover {
        font-weight: 600;
      }
      a:hover {
        text-decoration: blink;
      }
    }
    tr th, tr td {
      text-align: center;
    }
    th {
      pointer-events: none;
      background-color: $light_green_color;
      color: $green_color;
      text-transform: uppercase;
    }
    :not(.record_list_view) tr td {
      background: none !important;
    }
  }
  button {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $desat_green_color;
    text-decoration: underline;
    font-size: 0.9rem;
    outline: none;
    &:hover, &:focus {
      color: white;
      background-color: $green_color;
    }
  }
}

.paging_div_view{
  .dataTables_empty{
    display: none;
  }
}

.row {
  .value-comparison {
    min-height: 2.4em;
  }
}

.value-match {
  color: $green_color;
  font-size: 1rem;
}

.value-mismatch {
  color: $red_color;
  font-size: 1rem;
}

.match-header {
  color: $green_color;
}