////////////////////////////////////////////////
// Record Controls
////////////////////////////////////////////////

.record_controls {
  .dropdown-pane.large {
    width: rem_calc(550);
    background: $desat_green_color;

    .flag_unflag_header {
      color: $green_color;
      border-bottom: 1px solid $stroke_green_color;
    }

    .label {
      background: none;
      color: $grey_color;
      float: left;
      width: 100%;
      text-align: left;
      margin: 2px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0;
    }

    .add_flag {
      margin: 1em 0;

      input {
        margin-bottom: 0;
      }
    }
  }

  .controls-left {
    .photo-link {
      @if $global-text-direction == rtl {
        float: left;
        margin-left: 25px;
      }
      @else {
        float: right;
        margin-right: 25px;
      }
    }
    .description {
      padding-right: 10px;
      overflow: hidden;
      display: block;
      line-height: 1.2em;
      text-overflow: ellipsis;
      color: #4d4d4d;
      white-space: nowrap;
    }
  }
}

.record_controls_container, .index_controls_container {
  position: relative;
}

.index_controls_container, .record_controls_container {
  width: 100%;
  height: rem_calc(50);
  z-index: 1091;
  background: $white_color;

  .controls, .record_controls {
    height: rem_calc(50);
  }

  .button, select {
    height: rem_calc(39.69);
  }

  .button-group {
    input {
      width: inherit;
    }
  }

  .record_controls {
    .button, select {
      @if $global-text-direction == rtl {
        margin: rem_calc(0 0 0 7);
      } @else {
        margin: rem_calc(0 7 0 0);
      }
    }
  }

  .button {
    margin-bottom: 0;

    &.current {
      background: $stroke_green_color !important;
      color: #fff !important;
    }

    &.action_btn {
      height: rem_calc(39.69);
    }
  }

  select {
    width: 20%;
    height: rem_calc(39.69)
  }

  .pagination_info {
    font-size: .9rem;

    span {
      color: $green_color;
      font-style: italic;
    }
  }

  h4 {
    font-size: .88rem;
    font-family: 'Roboto-Medium', sans-serif;
    color: $green_color;
    margin-bottom: 0;
  }

  @if $global-text-direction == rtl {
    .controls-left {
      padding-left: 0;
    }

    .controls-right {
      padding-right: 0;
    }
  } @else {
    .controls-left {
      padding-right: 0;
    }

    .controls-right {
      padding-left: 0;
    }
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 1.8rem;
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    right: 8px;
  }
}

