////////////////////////////////////////////////
// Record Controls
////////////////////////////////////////////////

.record_controls {
  padding-top: 7px;

  ul.inline-list {
    overflow: visible;
    padding-left: 5px;

    li:not(.rec_ctl) {
      margin-right: 10px;
    }

    .sf-menu li:not(.init_btn) {
      margin-right: 0;
    }

    a.arrow:after {
      content: "";
      background: url(image_path("edit_carot.png")) no-repeat;
      height: 37px;
      width: 8px;
      float: right;
      margin: -9px 0 0 17px;
      position: absolute;
      z-index: 10;
    }

    li.rec_ctl a.grey-button {
      border-top: 1px solid $stroke_green_color !important;
      border-bottom: 1px solid $stroke_green_color !important;
      border-right: none !important;
      border-left: none !important;
      background: $desat_green_color !important;
      color: $green_color !important;
      height: 37px !important;
    }

    li.rec_ctl a.green-button {
      background: $stroke_green_color;
      color: #fff !important;
    }
  }

  ul#export-dropdown li {
    margin-right: 0;
  }

  .label {
    background: none;
    color: $grey_color;
    float: left;
    width: 100%;
    text-align: left;
    margin: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
  }

  h4 {
    font-size: .88rem;
    font-family: 'Roboto-Medium', sans-serif;
    color: $green_color;
  }
}

.record_controls_container {
  width: 100%;
  height: 51px;
  z-index: 999;
  background: $white_color;
}

.index_controls_container {
  width: 100%;
  height: 50px;
  z-index: 999;
  background: $white_color;

  .controls {
    height: 50px;
  }

  .button {
    margin-bottom: 0;
  }
  
  .pagination_info {
    font-size: .9rem;
  }
}

.sticking {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}