td.report_sidebar_value{
  padding: 10px 18px;
  /*background: #ebf0e4 !important;*/
  text-transform: uppercase;
}

.report_table_content table {
  border: none !important;

  @if $global-text-direction == rtl {
    margin-right: 0px;
  } @else {
    margin-left: 0px;
  }


  tbody tr.report_row_aggregate td{
    background: #ebf0e4;
  }
}

table:not(.record_list_view) tr.report_row_aggregate td.report_sidebar_value {
  background: #ebf0e4 !important;
  color: $green_color;
  font-size: $thirteen_px !important;
  font-family: 'Roboto-Medium', sans-serif !important;
}

.DTFC_LeftHeadWrapper table tr:first-of-type th, .DTFC_RightHeadWrapper table tr:first-of-type th {
  border-bottom: 1px solid $stroke_green_color !important;
}

div.DTFC_LeftBodyWrapper, div.DTFC_RightBodyWrapper {
  border-bottom: 1px solid $stroke_green_color;
}

.dataTables_scrollBody table tbody tr:last-of-type td,
.DTFC_LeftBodyLiner table tbody tr:last-of-type td,
.DTFC_RightBodyLiner table tbody tr:last-of-type td {
  border-bottom: none;
}

.dataTables_scrollBody {
  max-height: 500px;
  height: inherit !important;
}

div.reports_form .side-tab-content .row .row {
  padding-right: 0px;
  padding-left: 0px;
}

.report_filter {
  border-bottom: 1px dotted $stroke_green_color;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.report_filter_attribute_row .column {
  @if $global-text-direction == rtl {
    padding-left: 0;
  } @else {
    padding-right: 0;
  }
}

.reports_form {
  .report_filter_template{
    display: none;
  }

  .report_filter_remove_button{
    color: $green_color;
  }
}

.reports {
  .report_graph {
  }

  .report_chart_content  {
    margin: 0 auto;
    width: 1000px
  }

  .report_description {
    text-align: center;
    font-style: italic;
    font-size: .9rem;
    margin-top: 15px;
  }

  ul.tabs {
    border: none;
    border-bottom: 1px solid $stroke_green_color;
    margin-top: 20px;
    height: 39px;
  }

  .tabs-title {
    background: none;
    border: none;
    height: rem_calc(39);

    a {
      outline: none;
    }

    &:first-of-type {
      @if $global-text-direction == rtl {
        margin-right: 15%;
      } @else {
        margin-left: 15%;
      }
    }

    a {
      background: none;
      padding: .5rem 1rem;
      font-size: .9rem;
      font-family: 'Roboto-Medium', sans-serif !important;

      &:hover {
        text-decoration: none;
        background: $desat_green_color;
      }
    }
  }

  .tabs-title.is-active {
    background: $desat_green_color;
    border: 1px solid $stroke_green_color;
    border-bottom: none;
  }
}

.report_filter_value_string_row .chosen-results li:first-of-type, .report_filter_input select option:first-of-type {
  background: $stroke_green_color;
}

.DTFC_LeftBodyLiner::-webkit-scrollbar, .DTFC_RightBodyLiner::-webkit-scrollbar {
  display: none;
}

div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftBodyWrapper table,
div.DTFC_LeftFootWrapper table {
  @if $global-text-direction == rtl {
    border-left-width: 0;
  } @else {
    border-right-width: 0;
  }
}

div.DTFC_RightHeadWrapper table,
div.DTFC_RightBodyWrapper table,
div.DTFC_RightFootWrapper table {
  @if $global-text-direction == rtl {
    border-right-width: 0;
  } @else {
    border-left-width: 0;
  }
}

div.DTFC_LeftHeadWrapper table,
div.DTFC_RightHeadWrapper table {
  margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper table,
div.DTFC_RightBodyWrapper table {
  border-top: none;
  margin: 0 !important;
}

div.DTFC_LeftFootWrapper table,
div.DTFC_RightFootWrapper table {
  margin-top: 0 !important;
}

.dataTables_scrollHead {
  border-bottom: none !important;

  table thead tr th {
    border-bottom: 1px solid $stroke_green_color;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .DTFC_LeftBodyWrapper {
    @if $global-text-direction == rtl {
      border-left: 1px solid $stroke_green_color;
    } @else {
      border-right: 1px solid $stroke_green_color;
    }
  }

  .DTFC_LeftBodyLiner, .DTFC_RightBodyLiner  {
    -ms-overflow-style: none;
  }

  .DTFC_LeftBodyLiner .DTFC_Cloned {
    @if $global-text-direction == rtl {
      border-left: 1px solid $stroke_green_color;
    } @else {
      border-right: 1px solid $stroke_green_color;
    }
  }
}
