////////////////////////////////////////////////
// Scopes
////////////////////////////////////////////////

div.scope_bar {
  li.scope a {
    text-decoration: none;
  }
  li.scope ul li {
    padding: 5px;
  }
  li.scope ul li:hover{
    background-color: silver;
  }
  div.row > div {
    padding-left: 0px;
  }
  ul {
    margin-left: 0px;
    li {
      list-style: none;
      select {
        margin: 0;
      }
    }
  }
}

////////////////////////////////////////////////
// Index filters
////////////////////////////////////////////////

.filter_title {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0px 0 0 25px;
  line-height: 20px;

  a {
    text-transform: none;
    border-bottom: 1px dotted $grey_color;

    &:hover {
      text-decoration: none;
      border-bottom: none;
      font-weight: bold;
    }

    i {
      color: $stroke_green_color;
    }
  }
}

.index_filters {
  padding: 0;
  width: 225px;
  float: right;

  label {
    display: flex;
    text-indent: inherit;
    padding: 0 2px;
    margin-bottom: 2px;
    width: 100%;
    position: relative;
  }

  input {
    vertical-align: middle;
  }

  label span {
    margin-left: 4px;
  }

  .filter {
    margin-bottom: 8px;

    .chosen-container-single {
      padding: 2px;
    }

    .filter-controls {
      padding: 10px 3px 2px 5px;
      clear: both;
    }

    .date_range {
      width: 80%;
    }

    input[type="checkbox"] {
      margin: 0;
      margin-top: 3.5px;
    }

    .form_date_field {
      padding: 3px;
    }
  }

  h3 {
    font-size: $thirteen_px;
    padding: 10px 10px 0 10px;
    margin: 0;
    font-family: 'Roboto-Medium', sans-serif;
    border-top: 1px solid $stroke_green_color;
    text-transform: uppercase;
  }

  .panel {
    padding: 0 0 20px;
    border: none;
    background: #f1f5ec;
  }

  input[type="text"] {
    height: 1.5rem;
    margin-bottom: 0;
  }

  .field-controls-multi {
    margin: 5px 0 10px;
  }

  label {
    font-size: 0.8rem;

    &:not(.has_date) {
      margin-right: 0 !important;
    }
  }

  .chosen-container-single {
    width: 96% !important;
    margin: 10px 0 20px 4px !important;
  }

  .tabs .tab-title {
    &.active {
      border-top: 2px solid $stroke_green_color;
      
      a {
        background: #f1f5ec;
        font-weight: bold
      }
    }

    > a {
      color: $green_color;
      background: #fff;
      padding: .8em .5em;
      font-size: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      outline: none;
    }
  }
}

.violation-fields {
  .violation > h3 {
    border-top: none;
    position: relative;
    line-height: 1.3em;
    text-transform: capitalize;
    border-bottom: 1px dashed $stroke_green_color;
    width: 90%;
    margin: 1em auto;
    padding: 0 0 0.5em;
    margin-bottom: 1em;
  }

  .filter {
    border-bottom: 1px dashed $stroke_green_color;
    padding-bottom: .5em;

    h3 {
      border: none;
      font-size: .7rem;
      color: $green_color;
      overflow-wrap: break-word;
      line-height: 1.5em;
      padding-top: 0;
    }

    .field-controls-multi {
      margin: 5px 0 0 0;
    }
  }
}
