////////////////////////////////////////////////
// Scopes
////////////////////////////////////////////////

div.scope_bar {
  li.scope a {
    text-decoration: none;
  }
  li.scope ul li {
    padding: 5px;
  }
  li.scope ul li:hover{
    background-color: silver;
  }
  div.row > div {
    padding-left: 0px;
  }
  ul {
    margin-left: 0px;
    li {
      list-style: none;
      select {
        margin: 0;
      }
    }
  }
}

////////////////////////////////////////////////
// Index filters
////////////////////////////////////////////////

.filter-controls {
  a {
    i {
      color: $stroke_green_color;
    }

    &#apply_filter {
      padding: 0.85em .8em
    }

    &.clear_filters {
      font-size: .8rem;
    }
  }
}

.index_filters {
  padding: 0;
  width: 225px;
  float: right;

  label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
    padding-left: 22px;
    text-indent: -22px;
    width: 100%;
    overflow: hidden;
  }

  input {
    vertical-align: middle;
  }

  label span {
    vertical-align: middle;
    margin-left: 4px;
  }

  .filter {
    margin-bottom: 8px;

    .chosen-container-single {
      padding: 2px;
    }

    .filter-controls {
      padding: 10px 3px 2px 9px;
      clear: both;
    }

    .date_range {
      width: 80%;
    }

    input[type="checkbox"] {
      margin: 0;
    }

    .form_date_field {
      padding: 3px;
    }
  }

  h3 {
    font-size: $thirteen_px;
    padding: 10px 10px 0 10px;
    margin: 0;
    font-family: 'Roboto-Medium', sans-serif;
    border-top: 1px solid $stroke_green_color;
    text-transform: uppercase;
  }

  .panel {
    padding: 0 0 20px;
    border: none;
    background: #f1f5ec;
  }

  input[type="text"] {
    height: 1.5rem;
    margin-bottom: 0;
  }

  .field-controls-multi {
    margin: 5px 0 10px;
  }

  label {
    font-size: 0.8rem;

    &:not(.has_date) {
      margin-right: 0 !important;
    }
  }

  .chosen-container-single {
    width: 96% !important;
    margin: 10px 0 20px 4px !important;
  }
}
