////////////////////////////////////////////////
// Advanced Search box
////////////////////////////////////////////////

.search {
  display:inline;
  input#query {
    height: 1.375rem;
    width: 179px !important;
    border: none !important;
    margin:3px 0px 0 5px;
    display:inline;
    font-size: 0.7rem;
  }
  input[type="submit"] {
    width:40px;
    height: 1.375rem;
    border: none;
  }
}