////////////////////////////////////////////////
// Side Tab
////////////////////////////////////////////////

.side-nav-container {
  width: rem_calc(285);
}

.side-tab-content-container {
  // width: 750px;
  

  @if $global-text-direction == rtl {
    padding-right: 0;
  } @else {
    padding-left: 0;
  }

  .side-tab-content {
    min-height: rem_calc(500);

    .warning {
      margin: .5em;
      background: #FEEFB3;
      color: #9F6000;
      border: 1px solid #9F6000;
    }
  }

  fieldset {
    padding: 2em 0;
  }
}

.side-tab a span.label {
  float: right;
  position: absolute;
  margin: 3px 4px;
  font-size: .3rem;
  padding: 3px 5px;
  background: #F76F6F;
}

.side-tab, .modal-side-tab {
  position: relative;
  border-top: none;
  margin-bottom: 3rem;
  z-index: 989;

  a {
    color: $grey_color !important;
    font-size: $fifteen_px;
    padding: 0.4rem 1rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: block;

    &:hover {
      color: #fff !important;
      background: $grey_color !important;
      text-decoration: none;
    }
  }
}

.side-tab .profile-image {
  padding: 10px;
  background: $light_green_color;
  width: 251px;
  top: 50px;
  border-top: 1px solid $stroke_green_color;
  border-bottom: 1px solid $stroke_green_color;
  border-left: 1px solid $stroke_green_color;
  text-align: center;

  img {
    max-width: 50%;
    max-height: 50%;
    padding: 5px;
  }

  .image {
    //text-align: center;
    a {
      background: transparent !important;
      padding: 0 !important;
    }
  }

  p {
    font-size: $thirteen_px;
    text-align: center;
    color: $green_color;
    margin-bottom: 0;
  }

  .thumbnails {
    padding: 10px;
  }

  .edit_photo, .manage_photo {
    padding: 2px 10px;
    margin: 1px;
    background: #eee;
    border: 1px dashed #bbb;

    &:hover {
      border: 1px solid #bbb;
    }
  }
}

.side-tab-content {
  padding-left: 0;
  background: $light_green_color;
  border: 1px solid $stroke_green_color;

  label {
    @if $global-text-direction == rtl {
      text-align: left;
    } @else {
      text-align: right;
    }
    font-family: 'Roboto-Medium', sans-serif;
    font-size: $thirteen_px;
    font-weight: bold;
  }

  .row {
    padding: 8px 30px;
  }
}

.close-side-tab {
  @if $global-text-direction == rtl {
    padding-left: 0
  } @else {
    padding-right: 0
  }
}

li.group.current {
  background: $desat_green_color;
  padding-bottom: .7em;
}

li.group a.group:after {
  font-family: 'FontAwesome';
  content: '\f106';
  color: #ccc;
  font-size: .9rem;

  @if $global-text-direction == rtl {
    float: left;
  } @else {
    float: right;
  }
}

li.group ul a {
  font-family: 'Roboto', sans-serif;
  font-size: $thirteen_px;
}

li.current {
  border-top: 1px solid $stroke_green_color;
  border-bottom: 1px solid $stroke_green_color;
  font-family: 'Roboto-Medium', sans-serif;

  &:not(.group) {
    background: $light_green_color;

    @if $global-text-direction == rtl {
      border-right: 1px solid $stroke_green_color;
    } @else {
      border-left: 1px solid $stroke_green_color;
    }

    a {
      color: $green_color !important;
    }
  }

  a.group:after {
    font-family: 'FontAwesome';
    
    @if $global-text-direction == rtl {
      content: '\f107';
      float: left;
    } @else {
      content: '\f107';
      float: right;
    }
    color: $green_color;
    font-size: .9rem;
  }

  a.non-group:after {
    font-family: 'FontAwesome';
    content: '\f105';
    
    @if $global-text-direction == rtl {
      float: left;
    } @else {
      float: right;
    }

    color: $green_color;
    font-size: .9rem;
    padding: 1px 0 4px;
  }

  ul li.current a:after {
    font-family: 'FontAwesome';
    
    @if $global-text-direction == rtl {
      float: left;
      content: '\f104';
    } @else {
      content: '\f105';
      float: right;
    }
    
    color: $green_color;
    font-size: .9rem;
  }
}

ul.side-nav, ul.modal-side-nav {
  margin: 0;
  
  li ul {
    display: none;
    list-style: none;
  }

  li .panel {
    width: 240px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 8px;

    p {
      font-family: 'Roboto', sans-serif;
      font-size: $thirteen_px;
      margin-bottom: 4px;
      color: $green_color;

      span {
        font-weight: bold;
        font-size: .75rem;
        color: $grey_color;
      }
    }

    strong {
      text-transform: uppercase;
      font-family: 'Roboto-Medium', sans-serif;
      font-size: $fifteen_px;
    }

    a {
      padding: 0;
      display: inline;
      font-size: $fifteen_px;

      &:hover {
        color: $grey_color !important;
        background: none !important;
      }
    }

    hr {
      margin: 10px 0 5px 0;
      background: none;
      border-bottom: 1px dashed #ddd;
    }
  }
}

.scrolling_indicator {
  border-top: 1px solid #ebebeb;
  text-align: center;
  font-size: .7rem;
  text-transform: uppercase;
  height: 20px;
  visibility: hidden;
  color: #999;

  &.up {
    border-top: none;
    border-bottom: 1px solid #ebebeb;
  }
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */  
  @if $global-text-direction == rtl {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}