////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////

h1 {
  color: $green_color !important;
  font-weight: normal !important;
  font-size: 2.313rem !important;
  text-align: center;
  border-bottom: 1px solid $stroke_green_color;
  padding: .8rem;
}

a{
  color: $grey_color;
  text-decoration: none;
  line-height: inherit;
  &:hover {
    color: $grey_color;
    text-decoration: underline;
  }
}

.clear {
  clear:both;
}

////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////

.flagged {
  color: $red_color;
  font-size: 1.2rem;
}