<% if @report.ui_filters.present? %>
  <div id="report_filter_controls">
    <div class="row collapse">
      <div class="large-12 columns meta-container">
        <div class="meta">
          <div>
            <div class="filters-selected"></div>
          </div>
          <div>
            <div class="open button green-button right" data-action="open"><%= I18n.t("report.report_filters.filters") %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel container">
      <div class="form-row row">
        <div class="close" data-action="close"><i class="fa fa-close" data-action="close"></i></div>
        <div class="large-12 columns">
        <form>
          <div class="report_filters">
            <% @report.ui_filters.each do |filter| %>
              <%= render "reports/filter_controls/#{filter['type']}_filter", filter: filter  %>
            <% end %>
          </div>
          <div class="row collapse">
            <div class="large-12 columns filter-actions">
              <a class="button grey-button clear_filters"><%= I18n.t("report.report_filters.clear") %></a>
              <a class="button green-button submit_filters"><%= I18n.t("report.report_filters.filter") %></a>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>    
  </div>
<% end %>

