$light_grey_color: #8A8A8A;
$grey_color: #575757;
$desat_green_color: #f9faf6;
$light_green_color: #ebf0e4;
$stroke_green_color: #aec687;
$green_color: #86A05D;
$red_color: #8d0000;
$white_color: #fff;

.white {
	color: $white_color;
}

.light-green {
	color: $stroke_green_color;
}
