.root {
  margin-left: 10px;
  margin-bottom: 25px;
}

.searchInput {
  border-radius: 29px;
  background-color: $(theme.primero.colors.white);
  border: 1px solid #d6d6d6;
}

.iconButton {
  padding: 6px 6px 6px 10px;
}

.input {
  padding-top: 2px;
}
