<div class="row">
  <div class="large-12 medium-12 columns">
    <h1 class="no_border"><%= t "location.edit" %></h1>

    <div class="page-content-new location-page">
      <div class="side-tab-content full_width">
        <%= render 'locations/form' %>
      </div>
    </div>
  </div>
</div>
