<% content_for :breadcrumbs do %>
  <%= t "location.edit" %>
<% end %>

<div class="page-content-new row" data-equalizer>
  <%= render :partial => 'form_section/sidebar', :locals => {:highlight_page => 'locations'} %>
  <div class="large-9 medium-9 columns side-tab-content-container">
    <div class="side-tab-content" data-equalizer-watch>
      <%= render 'locations/form', editing: true %>
    </div>
  </div>
</div>