<div class="row user_select_fields">
  <div class="medium-7 columns">
    <label><%= t('exports.custom_exports.choose_fields') %></label>
  </div>
  <div class="medium-5 columns">
    <input type="checkbox" name="choose_fields" />
  </div>
</div>