<fieldset class="custom_export_fields">
  <i class="fa fa-refresh fa-spin pull-right loading"></i>
  <label for="fields"><%= t('exports.custom_exports.fields') %></label>
  <select name="fields" multiple></select>
</fieldset>