<div class="row">
  <div class="medium-12 columns">
    <label for="format"><%= t('exports.custom_exports.format_label') %></label>
    <input type="radio" name="format" value="forms"/>
    <label form="format"><%= t('exports.custom_exports.form_label') %></label>
    <input type="radio" name="format" value="fields"/>
    <label for="format"><%= t('exports.custom_exports.field_label') %></label>
  </div>
</div>