<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google" value="notranslate" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Primero</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <%= csrf_meta_tag %>
  <!-- jss-insertion-point -->
</head>
<body dir="ltr">
  <div id="root"></div>
  <script>
    window.locationManifest = <%= available_locations %>
  </script>
  <script src="/javascripts/i18n.js"></script>
  <script src="/<%= I18N_TRANSLATIONS_FILE %>"></script>
  <%= javascript_bundles_with_chunks_tag 'application', skip_pipeline: true, manifest: :application %>
</body>
</html>
