.header {
  color: var(--c-dark-grey);
  font-size: var(--fs-18);
  font-weight: bold;
  text-transform: uppercase;
}

.fieldTitle {
  color: var(--c-blue);
  font-size: var(--fs-16);
  padding: 13px 4px !important;

  & button {
    color: var(--c-blue);
    font-size: var(--fs-16);
    padding: 0;
    display: inline;
    text-align: left;

    & span {
      text-transform: none;
      text-align: left;
    }
  }
}

.translationsRow {
  border-bottom: 1px solid var(--c-light-grey);
}

.hideField {
  display: none !important;
}
