div.pagination {
  float: left;
  text-align: right;
  padding-top: 1.25em;

  a {
    display: inline;
  }

  .current {
    font-style: normal;
  }

  a, em, span, .current, .disabled {
    outline: none;
    border: 1px solid #aec687;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1;
    padding: 0.95em 1em;
  }
}
